<!DOCTYPE html>
<!-- saved from url=(0016)http://localhost --> 
<html lang="es-ES">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Portal - @ViewBag.Title</title>
    @Html.MetaAcceptLanguage()
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/DataTables")
    @Styles.Render("~/Content/DataTables/css/styles")

    <style>
        .msj-test {
            position: fixed;
            bottom: 30px;
            left: 30px;
            z-index: 98;
            background-color: #CF0000;
            color: white;
            border-radius: 30px;
            padding: 7px 15px;
            font-size: 2rem;
            font-weight: 700;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Backend Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="Botonera">
                    <li>@Html.ActionLink("Profesionales", "Profesional", "Profesional")</li>
                    <li>@Html.ActionLink("Áreas de Prácticas", "AreaPractica", "AreaPractica")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Publicaciones">Insights <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="Publicaciones">
                            <li>@Html.ActionLink("Artículos", "Articulo", "Articulo")</li>
                            <li>@Html.ActionLink("Dossiers", "LandingPage", "LandingPage")</li>
                            <li>@Html.ActionLink("Casos De Estudio", "CasosDeEstudio", "CasosDeEstudio")</li>

                            @*<li>@Html.ActionLink("Newsletters", "Newsletters", "Newsletters")</li>
                                <li id="marvalnews">@Html.ActionLink("Marval News", "MarvalNews", "MarvalNews")</li>
                                <li>@Html.ActionLink("Publicaciones Externas", "PublicacionExterna", "PublicacionExterna")</li>*@
                            @*<li>@Html.ActionLink("Novedad Personalizada", "NovedadPersonalizada", "NovedadPersonalizada")</li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Contenidos">Otros Contenidos <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="Contenidos">
                            <li>@Html.ActionLink("Eventos", "Evento", "Evento")</li>
                            <li>@Html.ActionLink("Podcasts", "Podcast", "Podcast")</li>
                            <li>@Html.ActionLink("Novedades", "Novedad", "Novedad")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Slides", "Slide", "Slide")</li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Institucional">Institucional <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="Institucional">
                            <li>@Html.ActionLink("Premios", "Premio", "Premio")</li>
                            <li>@Html.ActionLink("Reconocimientos", "Ranking", "Ranking")</li>
                            <li id="vinc">@Html.ActionLink("Vínculos Internacionales", "VinculosInternacionales", "VinculosInternacionales")</li>
                            <li>@Html.ActionLink("RRHH - CVs", "CV", "CV")</li>
                            <li>@Html.ActionLink("Ofertas Laborales", "OfertaLaboral", "OfertaLaboral")</li>
                            <li>@Html.ActionLink("Varios", "Varios", "Varios")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Seguimiento">Seguimiento <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="Seguimiento">
                            <li>@Html.ActionLink("Registraciones", "Registraciones", "Registraciones")</li>
                            <li>@Html.ActionLink("Suscripciones", "Suscripciones", "Suscripciones")</li>
                            <li>@Html.ActionLink("Búsquedas", "Busquedas", "Busquedas")</li>
                            <li>@Html.ActionLink("Shares", "Shares", "Shares")</li>
                            <li>@Html.ActionLink("Contactos", "Contacto", "Contacto")</li>
                        </ul>
                    </li>

                    <li id="evento">@Html.ActionLink("Usuarios", "Usuarios", "Usuarios")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:50px;">
        @RenderBody()
    </div>

    <div id="dialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

    @if (bool.Parse(System.Configuration.ConfigurationManager.AppSettings["MSJ_TEST"]))
    {
        <div id="BtnTest" class="msj-test fBold">TESTING</div>
    }

    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/Pnotify")
    @Styles.Render("~/Content/Pnotify")

    @Scripts.Render("~/bundles/General")

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
