@model BackendPortal.Models.VM.BasicSVM

<select class="demo-default" id="@Model.nombre" name="@Model.nombre" placeholder="@Model.placeholder">
    @foreach (var item in Model.iLista)
    {
        if (item.Id == string.Empty)
        {
            <option value='@item.Descripcion'>@item.Descripcion</option>
        }
        else 
        { 
            <option value='@item.Id'>@item.Descripcion</option>
        }
    }
</select>

