@model BackendPortal.Models.VM.NovedadPersonalizadaVM

@{
    string identif = "Modal";
    string rutaImg = @System.Configuration.ConfigurationManager.AppSettings["DIR_REPOSITORIO_URL"] + @"NovedadPersonalizada\" + Model.novedadPersonalizada.picture;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="NovedadPersonalizadaForm" onsubmit="GuardarNovedadPersonalizada(); return false;" enctype="multipart/form-data">
            @Html.HiddenFor(model => model.modo)
            @Html.HiddenFor(model => model.titulo)
            @Html.HiddenFor(model => model.novedadPersonalizada.id)
            @Html.HiddenFor(model => model.novedadPersonalizada.AreasPracticas, new { id = "hAreasPracticas" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.novedadPersonalizada.Autores, new { id = "hAutores" + identif, @class = "IncludeHidden" })
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.titulo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contenedorFoto">
                                <label>Imagen</label>
                                <center>
                                    <div style="margin-top:10px;">
                                        @if (!string.IsNullOrEmpty(Model.novedadPersonalizada.picture) && BackendPortal.Controllers.BaseController.ExisteUrl(rutaImg))
                                        {
                                            <img id="imgPicture" src="@{@rutaImg}" title="@{@Model.novedadPersonalizada.picture_description}" class="imgFoto" />
                                        }
                                        else
                                        {
                                            <img id="imgPicture" src="~/Images/imgNoDisp.png" title="Imagen no disponible" class="imgFoto" />
                                        }
                                    </div>
                                </center>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.novedadPersonalizada.picture, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenamePicture", name = "", @readonly = "readonly" } })
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file btn-sm">
                                                    Buscar…
                                                    @Html.TextBoxFor(model => model.novedadPersonalizada.PictureUpload, new { type = "file", id = "inputFilePicture", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePicture');readURL(this, 'imgPicture');" })
                                                </span>
                                            </span>
                                        </div>
                                        <div id="divFormatoFotoIncorrecto" class="hidden" style="margin-top:10px;">
                                            <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.novedadPersonalizada.picture)
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-sm btn-default" onclick="BorrarPictureNovedadPersonalizada();">Limpiar</button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <label>Descripción</label>
                                        @Html.EditorFor(model => model.novedadPersonalizada.picture_description, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.novedadPersonalizada.picture_description)
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Fecha de Publicación</label>
                                <div class="input-group date">
                                    @Html.EditorFor(model => model.novedadPersonalizada.date, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                    <div class="input-group-addon input-sm dtp-sm">
                                        <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.date)
                            </div>
                            <div style="margin-top:20px;">
                                <label>Áreas de Práctica</label>
                                <div id="pnlAreasPracticas@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                            </div>
                            <div style="margin-top:20px;">
                                <label>Autores</label>
                                <div id="pnlAutores@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.Autores)
                            </div>
                            @*<div style="margin-top:20px;">
                                <label>Destacado</label>
                                @if (Model.novedadPersonalizada.featured == 1)
                                {
                                    <input type="checkbox" id="Destacado" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" id="Destacado" />
                                }
                            </div>*@
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:25px;">
                    <div class="form-group">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-4">
                                <label>Título (es) *</label>
                                @Html.EditorFor(model => model.novedadPersonalizada.title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.title_es)
                            </div>
                            
                                <div class="col-md-6">
                                    <div class="col-md-8" style="margin-bottom:10px;">
                                        <label>Color Fuente (en hexa)</label>
                                        @Html.EditorFor(model => model.novedadPersonalizada.colorFuente, new { htmlAttributes = new { @class = "form-control input-sm", onchange = "SetColorByHidden();" } })
                                        @Html.ValidationMessageFor(model => model.novedadPersonalizada.colorFuente)
                                    </div>
                                    <div class="col-md-4" style="margin-top:23px;">
                                        <input type="color" id="inputColor" value="#FFFFFF" onchange="SetColorByInput();" />
                                    </div>
                                    
                            </div>
                            
                                <div class="col-md-4">
                                    <label>Link (es)</label>
                                    @Html.EditorFor(model => model.novedadPersonalizada.link_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.novedadPersonalizada.link_es)
                                </div>
                            
                            


                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <label>Copete (es)</label>
                                @Html.TextAreaFor(model => model.novedadPersonalizada.header_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4" style="margin-top:10px;">
                                <label>Meta Título (es)</label>
                                @Html.EditorFor(model => model.novedadPersonalizada.meta_title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.meta_title_es)
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <label>Meta Descripción (es)</label>
                                @Html.TextAreaFor(model => model.novedadPersonalizada.meta_description_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-4">
                                <label>Título (en) *</label>
                                @Html.EditorFor(model => model.novedadPersonalizada.title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.title_en)
                            </div>
                            <div class="col-md-4">
                                <label>Link (en)</label>
                                @Html.EditorFor(model => model.novedadPersonalizada.link_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.link_en)
                                </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <label>Copete (en)</label>
                                @Html.TextAreaFor(model => model.novedadPersonalizada.header_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4" style="margin-top:10px;">
                                <label>Meta Título (en)</label>
                                @Html.EditorFor(model => model.novedadPersonalizada.meta_title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.novedadPersonalizada.meta_title_en)
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <label>Meta Descripción (en)</label>
                                @Html.TextAreaFor(model => model.novedadPersonalizada.meta_description_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>

</div>
<div id="AlertsModal">
</div>
<div id="AlertsCombo">
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        InicializarCKEDITOR("novedadPersonalizada_header_en");
        InicializarCKEDITOR("novedadPersonalizada_meta_description_en");
        InicializarCKEDITOR("novedadPersonalizada_header_es");
        InicializarCKEDITOR("novedadPersonalizada_meta_description_es");
        InicializarDatePickers();
    });
</script>
