@model BackendPortal.Models.VM.TabVariosBrochureVM
<div class="panel-body">
    <form id="BrochureForm" onsubmit="GuardarTabBrochure(); return false;">
        @Html.HiddenFor(model => model.brochureDTO.id)
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Brochure - Archivo (es)</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.brochureDTO.brochure_es, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenameBrochureES", name = "", @readonly = "readonly" } })
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file btn-sm">
                                Buscar…
                                @Html.TextBoxFor(model => model.brochureDTO.brochure_Upload_es, new { type = "file", id = "inputFileBrochureES", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFileBrochureES')" })
                            </span>

                        </span>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default" onclick="LimpiarBrochureES();">Limpiar</button>
                        </span>
                    </div>
                    <div id="divFormatBrochureESIncorrecto" class="hidden" style="margin-top:10px;">
                        <span class="field-validation-error">Formato de archivo incorrecto.</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.brochureDTO.brochure_es)
                </div>
            </div>
        </div>

        @{
            var urlES = (System.Configuration.ConfigurationManager.AppSettings["DIR_REPOSITORIO_URL"] + @"\Varios\" + @Model.brochureDTO.brochure_es);
            if (BackendPortal.Controllers.BaseController.ExisteUrl(urlES))
            {
                if (Model.brochureDTO.brochure_es != null)
                {
                    <div class="row" id="divLinkBrochureEs" style="margin-top:20px;">
                        <div class="col-md-12">
                            <a href="@urlES" target="_new">
                                Brochure (ES)
                            </a>
                        </div>
                    </div>
                }
            }
        }

        <div class="form-group" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <label for="brochure_txt_es">Brochure (es)</label>
                    @Html.TextAreaFor(model => model.brochureDTO.brochure_txt_es, new { @id = "brochure_txt_es", @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                    @Html.ValidationMessageFor(model => model.brochureDTO.brochure_txt_es)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Brochure - Archivo (en)</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.brochureDTO.brochure_en, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenameBrochureES", name = "", @readonly = "readonly" } })
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file btn-sm">
                                Buscar…
                                @Html.TextBoxFor(model => model.brochureDTO.brochure_Upload_en, new { type = "file", id = "inputFileBrochureEN", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFileBrochureEN')" })
                            </span>

                        </span>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default" onclick="LimpiarBrochureEN();">Limpiar</button>
                        </span>
                    </div>
                    <div id="divFormatBrochureENIncorrecto" class="hidden" style="margin-top:10px;">
                        <span class="field-validation-error">Formato de archivo incorrecto.</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.brochureDTO.brochure_en)
                </div>
            </div>
        </div>

        @{
            var urlEN = (System.Configuration.ConfigurationManager.AppSettings["DIR_REPOSITORIO_URL"] + @"\Varios\" + @Model.brochureDTO.brochure_en);
            if (BackendPortal.Controllers.BaseController.ExisteUrl(urlEN))
            {
                if (Model.brochureDTO.brochure_en != null)
                {
                    <div class="row" id="divLinkBrochureEn" style="margin-top:20px;">
                        <div class="col-md-12">
                            <a href="@urlEN" target="_new">
                                Brochure (EN)
                            </a>
                        </div>
                    </div>
                }
            }
        }

        <div class="form-group" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <label for="brochure_txt_en">Brochure (en)</label>
                    @Html.TextAreaFor(model => model.brochureDTO.brochure_txt_en, new { @id = "brochure_txt_en", @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                    @Html.ValidationMessageFor(model => model.brochureDTO.brochure_txt_en)
                </div>
            </div>
        </div>

        <div style="text-align:right;float:right;">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        InicializarCKEDITOR("brochure_txt_es");
        InicializarCKEDITOR("brochure_txt_en");
    });
</script>