@model BackendPortal.Models.VM.TabVariosProbonoVM
<div class="panel-body">
    <form id="ProbonoForm" onsubmit="GuardarTabProbono(); return false;">

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label for="probono_es">Probono (es)</label>
                    @Html.TextAreaFor(model => model.probonoDTO.probono_es, new { @id = "probono_es", @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                    @Html.ValidationMessageFor(model => model.probonoDTO.probono_es)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label for="probono_en">Probono (en)</label>
                    @Html.TextAreaFor(model => model.probonoDTO.probono_en, new { @id = "probono_en", @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                    @Html.ValidationMessageFor(model => model.probonoDTO.probono_en)
                </div>
            </div>
        </div>

        <div style="text-align:right;float:right;">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        InicializarCKEDITOR("probono_es");
        InicializarCKEDITOR("probono_en");

    });
</script>

