@model BackendPortal.Models.VM.PublicacionExternaVM

@{
    string identif = "Modal";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="PublicacionExternaForm" onsubmit="GuardarPublicacionExterna(); return false;">
            @Html.HiddenFor(model => model.modo)
            @Html.HiddenFor(model => model.titulo)
            @Html.HiddenFor(model => model.publicacionExterna.id)
            @Html.HiddenFor(model => model.publicacionExterna.AreasPracticas, new { id = "hAreasPracticas" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.publicacionExterna.Autores, new { id = "hAutores" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.publicacionExterna.kind, new { id = "hTipo" + identif, @class = "IncludeHidden" })
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.titulo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tipo</label>
                            <div id="pnlTipo@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                            @Html.ValidationMessageFor(model => model.publicacionExterna.kind)
                        </div>
                        <div class="col-md-4">
                            <label>Áreas de Práctica *</label>
                            <div id="pnlAreasPracticas@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                            @Html.ValidationMessageFor(model => model.publicacionExterna.AreasPracticas)
                        </div>
                        <div class="col-md-4">
                            <label>Autores</label>
                            <div id="pnlAutores@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-6">
                            <label>Título (es) *</label>
                            @Html.EditorFor(model => model.publicacionExterna.title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.publicacionExterna.title_es)
                        </div>
                        <div class="col-md-6">
                            <label>Fecha de Publicación *</label>
                            <div class="input-group date">
                                @Html.EditorFor(model => model.publicacionExterna.pub_date, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                <div class="input-group-addon input-sm dtp-sm">
                                    <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.publicacionExterna.pub_date)
                        </div>
                        
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    <div class="form-group">
                        @*<div class="row">
                            
                            <div class="col-md-4">
                                <label>PDF (es)</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.publicacionExterna.pdf_es, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", @readonly = "readonly" } })
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file btn-sm">
                                            Buscar…
                                            @Html.TextBoxFor(model => model.publicacionExterna.PdfEsUpload, new { type = "file", id = "inputFilePDFEs", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePDFEs')" })
                                        </span>
                                    </span>
                                </div>
                                <div id="divFormatoPDFEsIncorrecto" class="hidden" style="margin-top:10px;">
                                    <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-sm btn-default" style="margin-top:19px;" onclick="BorrarInputFile('inputFilePDFEs');">Limpiar</button>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>*@
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <label>Copete (es)</label>
                                @Html.TextAreaFor(model => model.publicacionExterna.header_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <label>Contenido (es)</label>
                                @Html.TextAreaFor(model => model.publicacionExterna.content_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Título (en) *</label>
                                @Html.EditorFor(model => model.publicacionExterna.title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.publicacionExterna.title_en)
                            </div>
                            @*<div class="col-md-4">
                                <label>PDF (en)</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.publicacionExterna.pdf_en, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", @readonly = "readonly" } })
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file btn-sm">
                                            Buscar…
                                            @Html.TextBoxFor(model => model.publicacionExterna.PdfEnUpload, new { type = "file", id = "inputFilePDFEn", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePDFEn')" })
                                        </span>
                                    </span>
                                </div>
                                <div id="divFormatoPDFEnIncorrecto" class="hidden" style="margin-top:10px;">
                                    <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                </div>
                            </div>*@
                            <!--<div class="col-md-2">
                                <button type="button" class="btn btn-sm btn-default" style="margin-top:19px;" onclick="BorrarInputFile('inputFilePDFEn');">Limpiar</button>
                            </div>
                            <div class="col-md-2">
                            </div>-->
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <label>Copete (en)</label>
                                @Html.TextAreaFor(model => model.publicacionExterna.header_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <label>Contenido (en)</label>
                                @Html.TextAreaFor(model => model.publicacionExterna.content_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
<div id="AlertsModal">
</div>
<div id="AlertsCombo">
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        InicializarCKEDITOR("publicacionExterna_header_en");
        InicializarCKEDITOR("publicacionExterna_content_en");
        InicializarCKEDITOR("publicacionExterna_header_es");
        InicializarCKEDITOR("publicacionExterna_content_es");
        InicializarDatePickers();
    });
</script>
