@model DistribucionUtilidades.Models.Q.QGestionUsuarios
@{
    string identif = "_GestionDeUsuarios";
}


<div id="AlertsGestionDeUsuarios"></div>

<div class="row mb-3">
    <div class="col-md-12">
        <div>
            <h3>Gestión de Usuarios</h3>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">
            Agregue o elimine usuarios y asigne roles a los mismos para que puedan acceder al sistema.
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <form id="formUsuarioRol" method="post" onsubmit="AltaRolUsuario(); return false;">
            @Html.HiddenFor(model => model.IdUsuario, new { id = "hUsuario" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.NombreApellido, new { id = "hSelUsuario" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.Rol, new { id = "hRol" + identif, @class = "IncludeHidden" })


            <div class="row">
                <div class="form-group-sm col-md-3">
                    <label for="ddlUsuario@{@identif}">Usuario</label>
                    <div id="pnlUsuario@{@identif}">
                        <select class="demo-default" id="ddlUsuario@{@identif}" name="ddlUsuario@{@identif}" placeholder="Buscar un usuario..."></select>
                    </div>
                    @Html.ValidationMessageFor(model => model.IdUsuario)
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ddRol@{@identif}">Rol</label>
                        <div id="pnlRol@{@identif}">
                            <img src="~/Images/loading.gif" />
                        </div>
                        @Html.ValidationMessageFor(model => model.Rol)
                    </div>

                </div>

                <div class="col-md-2">
                    <div style="margin-top:20px">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>


        </form>
    </div>
</div>



<div class="row mt-5">
    <div class="col-md-12">
        <table id="TablaUsuarios" class="display compact">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="idUsuario"></div>

<partial name="_ValidationScriptsPartial" />

<environment include="Development">
    <script src="~/js/GestionDeUsuarios.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/GestionDeUsuarios.min.js" asp-append-version="true"></script>
</environment>


<script type="text/javascript">

    $(document).ready(function () {
        InicializarCombosGestionUsuarios();
        InicializarTablaUsuarios();
    })

</script>





