@model BackendPortal.Models.Modo

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="frmImport" onsubmit="Importar('@Model.modo'); return false;" enctype="multipart/form-data">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Model.titulo</h4>
            </div>
            <div class="modal-body">
                <div id="Template" class="der">
                    <a href='@string.Format("/Templates/TemplateImportar{0}.xlsx", @Model.template)'>Descargar Template </a>
                </div>
                <br />
                <input type="hidden" id="hIdRelacion" class="IncludeHidden" />
                <div class="form-group">
                    <label for="archivo">Archivo</label>
                    <div class="input-group">
                        <input type="text" name="txtExcelFile" id="txtExcelFile" class="form-control wmax input-sm" />
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Buscar&hellip; <input type="file" name="excelFile" id="excelFile" class="file" />
                            </span>
                        </span>
                    </div>
                </div>
                <div id="ImportDesc" style="color:#317eac; margin-bottom: 10px;">Permite solo incorporar nuevos/as @Model.Descripcion, no actualiza ninguna información existente.</div>
                <div id="AlertsImport">
                </div>
                <br />
                <div align="center"><div class="panel-body" id="pnlImgCargando" style="display:none; align-content:center">Procesando  <img src="~/Images/loading.gif" /></div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnResumen" onclick="CargarResumen();">Resumen</button>
                <button type="button" class="btn btn-primary hidden" id="btnImportar" onclick="Importar();">Importar</button>
            </div>
        </form>
        <div class="panel-body" id="pnlResultados">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="panel panel-danger" style="display:none;">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="titleFailure" style="color:#a94442"></h3>
                        </div>
                        <div class="panel-body" id="panel-danger">
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var frmImport = "Import";

    $(document).ready(function () {

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);

            //ResetearResumen();
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text');

            if (input.length) {
                input.val(label);
            }

        });
    });


    function Importar() {
        $('#pnlResultados').hide();
        ;


        var formData = new FormData();
        formData.append('action', "@Model.Action");
        formData.append('file', $('input[type=file]')[0].files[0]);


        $.ajax({
            type: 'POST',
            url: '/Importar/ImportarExcelMasivo',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (msg) {
                $('#pnlImgCargando').show();
            },
            success: function (data) {
                $('#pnlImgCargando').hide();
                if (data.Errors != null) {
                    ProcesarResultados(data.Errors, 'panel-danger');
                    $('#titleFailure').text("Errores del excel.");
                }
                CargarAlertas(frmImport);
            },
            error: function (data) {
                $('#pnlImgCargando').hide();
                CargarAlertas(frmImport);
            }
        });

        //return false;
    }


    function CargarResumen() {
        ;
        var formData = new FormData();
        formData.append('action', "@Model.Action");
        formData.append('file', $('input[type=file]')[0].files[0]);

        $.ajax({
            type: 'POST',
            url: '/Importar/GetResultadosResumen',
            data:  formData ,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (msg) {
                $('#pnlImgCargando').show();
            },
            success: function (data) {
                $('#pnlImgCargando').hide();

                if (data.IsEverythingGood) {
                    $('#pnlResultados').hide();
                    $("#btnResumen").addClass("hidden");
                    $("#btnImportar").removeClass("hidden");
                }
                else {
                    ProcesarResultados(data.Errors, 'panel-danger');
                    $('#titleFailure').text("Errores del excel.");
                   // $('#pnlResultados').show();
                    CargarAlertas(frmImport);
                }
               
            },
            error: function (data) {
                
                $('#pnlResultados').show();
                CargarAlertas(frmImport);
            }
        });

        return false;

    }

    function ResetearResumen() {
        $('#pnlResultados').hide();
        $("#btnResumen").removeClass("hidden");
        $("#btnImportar").addClass("hidden");
    }


    function ProcesarResultados(resultados, panel) {
        ;
        if (resultados.length > 0 && panel != "") {
            $('#' + panel).load('/Importar/LlenarPanelResultados/', { resultados: resultados }, function (response, status, xhr) {
                if (status == "success") {
                    $('#pnlResultados').show();
                    $('.' + panel).show();
                } else {
                    CargarAlertas(frmHome);
                }
            });
        }

        return false;
    }
</script>






