@model BackendPortal.Models.VM.BusquedaNovedadVM

@{
    ViewBag.Title = "Novedades";
    string identif = "Novedad";
}

<div id="AlertsNovedad">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 izq">
                <h2>@Model.titulo</h2>
            </div>
            <div class="col-md-4 der">
                <button type="button" class="btn btn-primary" id="btnMasivoContacto" onclick="ModalImportar('N');">Ingreso Masivo</button>
                <button type="button" class="btn btn-primary" onclick="AltaNovedad();">Nueva Novedad</button>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-sm desplegableFiltros" onclick="FiltrosBusquedaNovedad();">
                Búsqueda&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
        <div id="filstrosBusquedaNovedad" style="margin-top:20px; display:none;" class="panel panel-default">
            <div class="panel-body">
                <form id="BusquedaNovedadForm">
                    @Html.HiddenFor(model => model.busqueda.AreasPracticas, new { id = "hAreasPracticas" + identif, @class = "IncludeHidden" })
                    @Html.HiddenFor(model => model.busqueda.Profesionales, new { id = "hProfesionales" + identif, @class = "IncludeHidden" })

                    <div class="row">
                        <div class="col-md-4">
                             <div class="form-group">
                                 <label>Áreas Prácticas</label>
                                <div id="pnlAreasPracticas@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profesionales</label>
                                <div id="pnlProfesionales@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Fechas</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.busqueda.Desde, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly", placeholder = "Desde" } })
                                        <div class="input-group-addon input-sm dtp-sm">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align:center; margin-top:5px;"><label>&mdash;</label></div>
                                <div class="col-md-5">
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.busqueda.Hasta, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly", placeholder = "Hasta" } })
                                        <div class="input-group-addon input-sm dtp-sm">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:17px;">
                        <center>
                            <div>
                                <button type="button" class="btn btn-default" onclick="LimpiarFormBusquedaNovedad();">Limpiar</button>
                                <button type="button" class="btn btn-primary" onclick="BuscarNovedades();">Buscar</button>
                            </div>
                        </center>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <table id="TablaNovedad" class="display compact">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Destacada</th>
                            <th>Título</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hIdNovedad" />

@Scripts.Render("~/bundles/Novedad")

@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/datepicker")
@Styles.Render("~/Content/datepicker")

@Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
@Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")

@Scripts.Render("~/Scripts/DataTables/jszip.min.js")

@Scripts.Render("~/bundles/Selectize")
@Styles.Render("~/Content/Selectize")

@Scripts.Render("~/Scripts/combos.js")

<script>
    $(document).ready(function () {
        InicializarDatePickers();
        IniciarCombosHomeNovedad();
        IniciarTablaNovedad();
    });
</script>