@{
    ViewBag.Title = "Áreas de Práctica";
}

<div id="AlertsAreaPractica">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-10 izq">
                <h2>Áreas de Práctica</h2>
            </div>
            <div class="col-md-2 der">
                <button type="button" class="btn btn-primary" onclick="AltaAreaPractica();">Nueva Área</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="TablaAreaPractica" class="display compact">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Área Base</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hIdAreaPractica" />

@Scripts.Render("~/bundles/AreaPractica")

@Scripts.Render("~/bundles/Selectize")
@Styles.Render("~/Content/Selectize")

@Scripts.Render("~/Scripts/combos.js")

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        IniciarTablaAreaPractica();
    });
</script>