@model BackendPortal.Models.VM.AreaPracticaVM

@{ 
    string identif = "Modal";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="AreaPracticaForm" onsubmit="GuardarAreaPractica(); return false;">
            @Html.HiddenFor(model => model.modo)
            @Html.HiddenFor(model => model.titulo)
            @Html.HiddenFor(model => model.areaPractica.id)
            @Html.HiddenFor(model => model.areaPractica.parent_id, new { id = "hparent_id" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.areaPractica.Responsables, new { id = "hResponsables" + identif, @class = "IncludeHidden" })
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.titulo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Área Base</label>
                            <div id="pnlparent_id@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Responsables (Socios o Consultores)</label>
                            <div id="pnlResponsables@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-4">
                            <label>Nombre (es) *</label>
                            @Html.EditorFor(model => model.areaPractica.name_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.areaPractica.name_es)
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Copete (es) *</label>
                            @Html.TextAreaFor(model => model.areaPractica.Header_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Premio (es) </label>
                            @Html.TextAreaFor(model => model.areaPractica.premio_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Descripción (es) *</label>
                            @Html.TextAreaFor(model => model.areaPractica.description_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            <div id="divDescripcionRequerida" class="hidden" style="margin-top:10px;">
                                <span class="field-validation-error">El campo Descripción (es) es obligatorio.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-4">
                            <label>Nombre (en)</label>
                            @Html.EditorFor(model => model.areaPractica.name_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.areaPractica.name_en)
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Copete (en)</label>
                            @Html.TextAreaFor(model => model.areaPractica.Header_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Premio (en)</label>
                            @Html.TextAreaFor(model => model.areaPractica.premio_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Descripción (en)</label>
                            @Html.TextAreaFor(model => model.areaPractica.description_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="border: solid 1px #ccc; padding: 12px; margin-top: 10px">
                    <header style="display:flex; justify-content:space-between; padding-top:15px;">
                        <label>Carga de ítems</label>
                        <button type="button" class="btn btn-xs btn-primary" onclick="AgregarItem()">Agregar</button>
                    </header>
                    <div class="body-form-group" id="BodyModalItems">
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {

                            <div class="row items-modal" style="padding-top:15px; display:flex;">
                                <div class="col-md-6">
                                    <label>Item (es) *</label>
                                    @Html.TextAreaFor(model => model.Items[i].Item_es, new { Name = "Item_es", @class = "form-control input-sm", style = "resize: none;overflow: hidden;min-height: 50px;max-height: 100px;", oninput = "auto_grow(this)" })
                                    <span class="d-none text-danger">El item_es es obligatorio</span>
                                </div>
                                <div class="col-md-5">
                                    <label>Item (en)</label>
                                    @Html.TextAreaFor(model => model.Items[i].Item_en, new { Name = "Item_en", @class = "form-control input-sm", style = "resize: none;overflow: hidden;min-height: 50px;max-height: 100px;", oninput = "auto_grow(this)" })

                                </div>
                                <div class="col-md-1" style="padding-bottom:5px; display:flex; align-items:center;">
                                    <button type="button" class="btn btn-danger btn-xs" onclick="BorrarItem(this)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>

                            </div>
                            @*@Html.ValidationMessageFor(model => model.Items[i].Item_es, "", new { data_valmsg_for = "Item_es" })*@
                        }
                        
                        <div id="ItemsVacio" style="@(Model.Items.Count == 0 ? "" : "display: none")">
                            <br />
                            <p>No se cargaron items</p>
                        </div>
                        

                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
<div id="AlertsModal">
</div>
<div id="AlertsCombo">
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        InicializarCKEDITOR("areaPractica_description_es");
        InicializarCKEDITOR("areaPractica_Header_es");
        InicializarCKEDITOR("areaPractica_Header_en");
        InicializarCKEDITOR("areaPractica_description_en");
        InicializarCKEDITOR("areaPractica_premio_es");
        InicializarCKEDITOR("areaPractica_premio_en");
    });
</script>