@model DistribucionUtilidades.Models.VM.CargaImpuestosEstimadosVM


@{ string identif = "_CargaDeImpuestosEstimados";
}

<div id="Alerts_CargaDeImpuestosEstimados"></div>

<div class="row mb-3">
    <div class="col-md-12">
        @{
            if (ViewBag.TipoProceso == 1)
            {
                <h3>Carga de Impuestos Estimados (Proceso Real)</h3>
            }
            else
            {
                <h3 style="color:#ff6a00">Carga de Impuestos Estimados (Proceso Provisorio)</h3>
            }
        }
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">Por favor, indique a qué mes corresponde la distribución que va a cargar y revise el cuadro que contiene los impuestos estimados. En caso de que desee realizar algún cambio en las estimaciones, por favor, diríjase al módulo denominado “Borrador de Impuestos Estimados” y realice las modificaciones necesarias.</p>
    </div>
</div>

@{
    if (ViewBag.FinDistribucion == true)
    {
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h4>
                        No es posible cargar una nueva distribución, ya que se ha completado la distribución estimada para todo el ejercicio.
                    </h4>
                </center>
            </div>
        </div>
    }
    else
    {

        <form id="ImpuestosEstimadosForm">

            @Html.HiddenFor(model => model.Mes, new { id = "hMes" + identif, @class = "IncludeHidden" })
            <div class="row mt-3 mb-3">
                <div class="form-group-sm col-md-4">
                    <label for="ddMes@{@identif}">Mes</label>
                    <div id="pnlMes@{@identif}">
                        @*<img src="~/Images/loading.gif" />*@
                    </div>
                </div>
                <div class="col-md-8"></div>

            </div>


            <div class="row mt-3">
                <div class="col-md-12">
                    <table id="ImpuestosEstimadosTable" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th width="20%" scope="col">Socio/Ex-Socio</th>
                                <th width="11%">Saldo inicial</th>
                                <th width="11%">Total<br />Dist.<br />Registradas</th>
                                <th width="7%" scope="col">Anticipos<br />Bienes<br />Personales</th>
                                <th width="7%" scope="col">Saldo DDJJ<br />Bienes<br />Personales</th>
                                <th width="7%" scope="col">Anticipos<br />Impuestos<br />Ganancias</th>
                                <th width="7%" scope="col">Saldo DDJJ<br />Ganancias</th>
                                <th width="7%" scope="col">Impuesto<br />Cedular</th>
                                <th width="7%" scope="col">Saldo DDJJ<br />Impuesto<br />Cedular</th>
                                <th width="11%">Saldo parcial</th>
                                <th width="5%">%<br />Distribucion<br />parcial</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                // Totales de los SOCIOS
                                long Importe_TotalSaldoInicialSocios = Model.Socios.Sum(item => item.SaldoInicial);
                                long Importe_TotalDistribucionesRegistradasSocios = Model.Socios.Sum(item => item.DistribucionTotal);
                                long Importe_TotalAnticiposImpuestosGananciasSocios = Model.Socios.Sum(item => item.ImporteGanancias);
                                long Importe_TotalAnticiposBienesPersonalesSocios = Model.Socios.Sum(item => item.ImporteBienesPersonales);
                                long Importe_TotalSaldoDDJJBienesPersonalesSocios = Model.Socios.Sum(item => item.ImporteSaldoDDJJBienes);
                                long Importe_TotalSaldoDDJJGananciasSocios = Model.Socios.Sum(item => item.ImporteSaldoDDJJGanancias);
                                long Importe_TotalSaldoDDJJImpuestoCedularSocios = Model.Socios.Sum(item => item.ImporteSaldoDDJJCedular);
                                long Importe_TotalImpuestoCedularSocios = Model.Socios.Sum(item => item.ImporteImpuestoCedular);
                                long Importe_TotalSaldoParcialSocios = Model.Socios.Sum(item => item.SaldoParcial);
                                decimal Importe_TotalDistribucionesParcialesSocios = Model.Socios.Sum(item => item.DistribucionParcial);


                                // Totales de los ExSocios
                                long Importe_TotalSaldoInicialExSocios = Model.ExSocios.Sum(item => item.SaldoInicial);
                                long Importe_TotalDistribucionesRegistradasExSocios = Model.ExSocios.Sum(item => item.DistribucionTotal);
                                long Importe_TotalAnticiposImpuestosGananciasExSocios = Model.ExSocios.Sum(item => item.ImporteGanancias);
                                long Importe_TotalAnticiposBienesPersonalesExSocios = Model.ExSocios.Sum(item => item.ImporteBienesPersonales);
                                long Importe_TotalSaldoDDJJBienesPersonalesExSocios = Model.ExSocios.Sum(item => item.ImporteSaldoDDJJBienes);
                                long Importe_TotalSaldoDDJJGananciasExSocios = Model.ExSocios.Sum(item => item.ImporteSaldoDDJJGanancias);
                                long Importe_TotalSaldoDDJJImpuestoCedularExSocios = Model.ExSocios.Sum(item => item.ImporteSaldoDDJJCedular);
                                long Importe_TotalImpuestoCedularExSocios = Model.ExSocios.Sum(item => item.ImporteImpuestoCedular);
                                long Importe_TotalSaldoParcialExSocios = Model.ExSocios.Sum(item => item.SaldoParcial);
                                decimal Importe_TotalDistribucionesParcialesExSocios = Model.ExSocios.Sum(item => item.DistribucionParcial);


                                //----- Suma de los totales
                                long SumaTotalSaldoInicial = Importe_TotalSaldoInicialSocios + Importe_TotalSaldoInicialExSocios;
                                long SumaTotalDistribucionesRegistradas = Importe_TotalDistribucionesRegistradasSocios + Importe_TotalDistribucionesRegistradasExSocios;
                                long SumaTotalAnticiposImpuestosGanancias = Importe_TotalAnticiposImpuestosGananciasSocios + Importe_TotalAnticiposImpuestosGananciasExSocios;
                                long SumaTotalAnticiposBienesPersonales = Importe_TotalAnticiposBienesPersonalesSocios + Importe_TotalAnticiposBienesPersonalesExSocios;
                                long SumaTotalSaldoDDJJBienesPersonales = Importe_TotalSaldoDDJJBienesPersonalesSocios + Importe_TotalSaldoDDJJBienesPersonalesExSocios;
                                long SumaTotalSaldoDDJJGanancias = Importe_TotalSaldoDDJJGananciasSocios + Importe_TotalSaldoDDJJGananciasExSocios;
                                long SumaTotalSaldoDDJJImpuestoCedular = Importe_TotalSaldoDDJJImpuestoCedularSocios + Importe_TotalSaldoDDJJImpuestoCedularExSocios;
                                long SumaTotalImpuestoCedular = Importe_TotalImpuestoCedularSocios + Importe_TotalImpuestoCedularExSocios;
                                long SumaTotalSaldoParcial = Importe_TotalSaldoParcialSocios + Importe_TotalSaldoParcialExSocios;
                                decimal SumaTotalDistribucionesParciales = Importe_TotalDistribucionesParcialesSocios + Importe_TotalDistribucionesParcialesExSocios;


                                if (Model.Socios.Count > 0)
                                {
                                    for (int i = 0; i < Model.Socios.Count; i++)
                                    {
                                    <tr id="@Model.Socios[i].IdPersona" data-type="Socio" data-row="@i">
                                        <td>@Model.Socios[i].Socio</td>

                                        <td>
                                            <div id="ImporteSaldoInicial_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].SaldoInicial">
                                                $ @Model.Socios[i].SaldoInicial.ToString("N0")

                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteDistribucionTotal_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].DistribucionTotal">
                                                $ @Model.Socios[i].DistribucionTotal.ToString("N0")

                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteBienesPersonales_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].ImporteBienesPersonales">
                                                $ @Model.Socios[i].ImporteBienesPersonales.ToString("N0")
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJBienes_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].ImporteSaldoDDJJBienes">
                                                $ @Model.Socios[i].ImporteSaldoDDJJBienes.ToString("N0")
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteGanancias_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].ImporteGanancias">
                                                $ @Model.Socios[i].ImporteGanancias.ToString("N0")

                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJGanancias_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].ImporteSaldoDDJJGanancias">
                                                $ @Model.Socios[i].ImporteSaldoDDJJGanancias.ToString("N0")
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteImpuestoCedular_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].ImporteImpuestoCedular">
                                                $ @Model.Socios[i].ImporteImpuestoCedular.ToString("N0")
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJCedular_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].ImporteSaldoDDJJCedular">
                                                $ @Model.Socios[i].ImporteSaldoDDJJCedular.ToString("N0")
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoParcial_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].SaldoParcial">
                                                $ @Model.Socios[i].SaldoParcial.ToString("N0")
                                            </div>
                                        </td>


                                        <td>
                                            <div id="ImporteDistribucionParcial_@Model.Socios[i].IdPersona" data-val="@Model.Socios[i].DistribucionParcial">
                                                @Model.Socios[i].DistribucionParcial.ToString("P4")
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                }

                                //----------------------totalSocios
                                <tr id="totalSocios" class="bg-total">
                                    <td>Total Socios</td>
                                    <td>
                                        <div id="Importe_TotalSaldoInicialSocios" data-val="@Importe_TotalSaldoInicialSocios">
                                            $ @Importe_TotalSaldoInicialSocios.ToString("N0")
                                        </div>
                                    </td>
                                    <td>
                                        <div id="Importe_TotalDistribucionesRegistradasSocios" data-val="@Importe_TotalDistribucionesRegistradasSocios">
                                            $ @Importe_TotalDistribucionesRegistradasSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalAnticiposBienesPersonalesSocios" data-val="@Importe_TotalAnticiposBienesPersonalesSocios">
                                            $ @Importe_TotalAnticiposBienesPersonalesSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoDDJJBienesPersonalesSocios" data-val="@Importe_TotalSaldoDDJJBienesPersonalesSocios">
                                            $ @Importe_TotalSaldoDDJJBienesPersonalesSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalAnticiposImpuestosGananciasSocios" data-val="@Importe_TotalAnticiposImpuestosGananciasSocios">
                                            $ @Importe_TotalAnticiposImpuestosGananciasSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoDDJJGananciasSocios" data-val="@Importe_TotalSaldoDDJJGananciasSocios">
                                            $ @Importe_TotalSaldoDDJJGananciasSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalImpuestoCedularSocios" data-val="@Importe_TotalImpuestoCedularSocios">
                                            $ @Importe_TotalImpuestoCedularSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoDDJJImpuestoCedularSocios" data-val="@Importe_TotalSaldoDDJJImpuestoCedularSocios">
                                            $ @Importe_TotalSaldoDDJJImpuestoCedularSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoParcialSocios" data-val="@Importe_TotalSaldoParcialSocios">
                                            $ @Importe_TotalSaldoParcialSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalDistribucionesParcialesSocios" data-val="@Importe_TotalDistribucionesParcialesSocios">
                                            @Importe_TotalDistribucionesParcialesSocios.ToString("P4")
                                        </div>
                                    </td>
                                </tr>
                                //--------------------------------------------------------------------------------
                                if (Model.ExSocios.Count > 0)
                                {

                                    for (int i = 0; i < Model.ExSocios.Count; i++)
                                    {
                                        <tr id="@Model.ExSocios[i].IdPersona" data-type="ExSocio" data-row="@i">
                                            <td>@Model.ExSocios[i].Socio</td>
                                            <td>
                                                <div id="ImporteSaldoInicial_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].SaldoInicial">
                                                    $ @Model.ExSocios[i].SaldoInicial.ToString("N0")
                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteDistribucionTotal_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].DistribucionTotal">
                                                    $ @Model.ExSocios[i].DistribucionTotal.ToString("N0")

                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteBienesPersonales_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].ImporteBienesPersonales">
                                                    $ @Model.ExSocios[i].ImporteBienesPersonales.ToString("N0")
                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteSaldoDDJJBienes_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].ImporteSaldoDDJJBienes">
                                                    $ @Model.ExSocios[i].ImporteSaldoDDJJBienes.ToString("N0")
                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteGanancias_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].ImporteGanancias">
                                                    $ @Model.ExSocios[i].ImporteGanancias.ToString("N0")
                                                </div>
                                            </td>
                                            <td>
                                                <div id="ImporteSaldoDDJJGanancias_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].ImporteSaldoDDJJGanancias">
                                                    $ @Model.ExSocios[i].ImporteSaldoDDJJGanancias.ToString("N0")
                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteImpuestoCedular_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].ImporteImpuestoCedular">
                                                    $ @Model.ExSocios[i].ImporteImpuestoCedular.ToString("N0")
                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteSaldoDDJJCedular_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].ImporteSaldoDDJJCedular">
                                                    $ @Model.ExSocios[i].ImporteSaldoDDJJCedular.ToString("N0")
                                                </div>
                                            </td>

                                            <td>
                                                <div id="ImporteSaldoParcial_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].SaldoParcial">
                                                    $ @Model.ExSocios[i].SaldoParcial.ToString("N0")
                                                </div>
                                            </td>
                                            <td>
                                                <div id="ImporteDistribucionParcial_@Model.ExSocios[i].IdPersona" data-val="@Model.ExSocios[i].DistribucionParcial">
                                                    @Model.ExSocios[i].DistribucionParcial.ToString("P4")
                                                </div>
                                            </td>


                                        </tr>
                                    }

                                    //---------------------total ExSocios
                                }
                                <tr id="totalExSocios" class="bg-total">
                                    <td>Total ExSocios</td>
                                    <td>
                                        <div id="Importe_TotalSaldoInicialExSocios" data-val="@Importe_TotalSaldoInicialExSocios">
                                            $ @Importe_TotalSaldoInicialExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalDistribucionesRegistradasExSocios" data-val="@Importe_TotalDistribucionesRegistradasExSocios">
                                            $ @Importe_TotalDistribucionesRegistradasExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalAnticiposBienesPersonalesExSocios" data-val="@Importe_TotalAnticiposBienesPersonalesExSocios">
                                            $ @Importe_TotalAnticiposBienesPersonalesExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoDDJJBienesPersonalesExSocios" data-val="@Importe_TotalSaldoDDJJBienesPersonalesExSocios">
                                            $ @Importe_TotalSaldoDDJJBienesPersonalesExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalAnticiposImpuestosGananciasExSocios" data-val="@Importe_TotalAnticiposImpuestosGananciasExSocios">
                                            $ @Importe_TotalAnticiposImpuestosGananciasExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoDDJJGananciasExSocios" data-val="@Importe_TotalSaldoDDJJGananciasExSocios">
                                            $ @Importe_TotalSaldoDDJJGananciasExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalImpuestoCedularExSocios" data-val="@Importe_TotalImpuestoCedularExSocios">
                                            $ @Importe_TotalImpuestoCedularExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoDDJJImpuestoCedularExSocios" data-val="@Importe_TotalSaldoDDJJImpuestoCedularExSocios">
                                            $ @Importe_TotalSaldoDDJJImpuestoCedularExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalSaldoParcialExSocios" data-val="@Importe_TotalSaldoParcialExSocios">
                                            $ @Importe_TotalSaldoParcialExSocios.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="Importe_TotalDistribucionesParcialesExSocios" data-val="@Importe_TotalDistribucionesParcialesExSocios">
                                            @Importe_TotalDistribucionesParcialesExSocios.ToString("P4")
                                        </div>

                                    </td>
                                </tr>

                                //------------------------------total final
                                <tr class="bg-totalGeneral">
                                    <td>TOTAL</td>

                                    <td>
                                        <div id="SumaTotalSaldoInicial">
                                            $ @SumaTotalSaldoInicial.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalDistribucionesRegistradas">
                                            $ @SumaTotalDistribucionesRegistradas.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalAnticiposBienesPersonales">
                                            $ @SumaTotalAnticiposBienesPersonales.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalSaldoDDJJBienesPersonales">
                                            $ @SumaTotalSaldoDDJJBienesPersonales.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalAnticiposImpuestosGanancias">
                                            $ @SumaTotalAnticiposImpuestosGanancias.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalSaldoDDJJGanancias">
                                            $ @SumaTotalSaldoDDJJGanancias.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalImpuestoCedular">
                                            $ @SumaTotalImpuestoCedular.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalSaldoDDJJImpuestoCedular">
                                            $ @SumaTotalSaldoDDJJImpuestoCedular.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalSaldoParcial">
                                            $ @SumaTotalSaldoParcial.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="SumaTotalDistribucionesParciales">
                                            @SumaTotalDistribucionesParciales.ToString("P4")
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-sm pl-3 pr-3 mt-5" data-toggle="confirmation" data-placement="left" data-singleton="true" data-on-confirm="" data-title="¿Está seguro?">
                            Guardar
                        </button>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
        </form>
    }
}


<partial name="_ValidationScriptsPartial" />
<environment include="Development">
    <script src="~/js/CargaDeImpuestosEstimados.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CargaDeImpuestosEstimados.min.js" asp-append-version="true"></script>
</environment>


<script type="text/javascript">

    $(document).ready(function () {

        ComboMes();
        InitializeConfirmationPop(GuardarImpuestosEstimados);
    })

</script>