@model DistribucionUtilidades.Models.Q.QEdicionImpuestosRetenciones

@{ string identif = "_ModalEdicionImpuestosRetenciones";}

<div id="AlertsModal"></div>

<div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar Datos - Socio @Model.IdSocio</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="FormEdicionImpuestosRetenciones" onsubmit="EdicionImpuestosRetenciones(); return false;">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="leyenda">Recuerde que, si edita algún valor correspondiente a Impuestos o Retenciones, la información deberá ser validada por el socio administrador.</p>
                    </div>
                </div>
                @Html.HiddenFor(model => model.IdSocio)
                @Html.HiddenFor(model => model.EsSocio)
                <div class="row">
                    <div class="col-md-12">
                        <label>Impuestos</label>
                        <div>
                            @Html.EditorFor(model => Model.Impuestos, new { htmlAttributes = new { @class = "form-control form-control-sm", @type = "number", @min = "0", @pattern = "[0-9]*", @data_politespace = "", @data_politespace_prefix = "$ ", @data_politespace_reverse = "" } })
                            @Html.ValidationMessageFor(model => Model.Impuestos)
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label>Retenciones</label>
                        <div>
                            @Html.EditorFor(model => Model.Retenciones, new { htmlAttributes = new { @class = "form-control form-control-sm", @type = "number", @min = "0", @pattern = "[0-9]*", @data_politespace = "", @data_politespace_prefix = "$ ", @data_politespace_reverse = "" } })
                            @Html.ValidationMessageFor(model => Model.Retenciones)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-3">
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </form>

    </div>
</div>


<partial name="_ValidationScriptsPartial" />


<script type="text/javascript">

    $(document).ready(function () {

        $("input[data-politespace]").politespace();

    })

</script>