
@model DistribucionUtilidades.Models.VM.ValidacionCalculosInicialesVM

@{ }


<div id="Alerts_ValidacionCalculosIniciales"></div>

<div class="row mb-3">
    <div class="col-md-12">
        @{
            if (ViewBag.TipoProceso == 1)
            {
                <h3>Validación cálculos iniciales (Proceso Real)</h3>
            }
            else
            {
                <h3 style="color:#ff6a00">Validación cálculos iniciales (Proceso Provisorio)</h3>
            }
        }
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">
            Verifique si los datos del cuadro son correctos.<br />
            -	En caso de que los Bonos o Retiros sean incorrectos, puede rechazarlos para que RRHH los corrija.<br />
            -	En caso de que los Impuestos o Retenciones sean incorrectos, puede editarlos seleccionando el lápiz de edición.
        </p>
    </div>
</div>


@{ if (Model.Modo == "CalculosInicialesRechazados")
    {
        <div class="row mt-3 mb-4">
            <div class="col-md-1"></div>
            <div class="form-group-sm col-md-4" style="color: #db2121; font-size: 16px;">
                <label>Nota de Revisión</label>
                @{if (Model.NotaRevision != "" && Model.NotaRevision != null)
                    {
                        <div>@Model.NotaRevision</div>
                    }
                    else
                    {
                        <div>-</div>
                    }


                }

            </div>
            <div class="col-md-7"></div>
        </div>
    }
}

<form id="CargaDeImportesForm" onsubmit="GuardarCalculosIniciales(); return false;">

    @Html.HiddenFor(model => model.Modo)


    <div class="row mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="ImportesSocioTable" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th width="20%" scope="col">Socio/Ex-Socio</th>
                        <th width="15%" scope="col">Importe</th>
                        <th width="10%" scope="col">Bonos</th>
                        <th width="10%" scope="col">Retiros</th>
                        <th width="10%" scope="col">Impuestos</th>
                        <th width="10%" scope="col">Retenciones</th>
                        <th width="15%" scope="col">Ajus. Ej. Anterior</th>
                        <th width="15%">Saldo Inicial</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        Model.TotalSocios = Model.Socios.Sum(item => item.Importe);
                        Model.TotalExSocios = Model.ExSocios.Sum(item => item.Importe);

                        // Total Retiro
                        Model.TotalRetirosSocios = Model.Socios.Sum(item => item.Retiro);
                        Model.TotalRetirosExSocios = Model.ExSocios.Sum(item => item.Retiro);


                        //Total bonos
                        Model.TotalBonosSocios = Model.Socios.Sum(item => item.Bono);
                        Model.TotalBonosExSocios = Model.ExSocios.Sum(item => item.Bono);

                        // Total impuestos
                        if(Model.Modo == "BonosRetiroCargados")
                        {
                            Model.TotalImpuestosSocios = Model.Socios.Sum(item => item.ImpuestosM);
                            Model.TotalImpuestosExSocios = Model.ExSocios.Sum(item => item.ImpuestosM);

                            // Total retenciones
                            Model.TotalRetencionesSocios = Model.Socios.Sum(item => item.RetencionesM);
                            Model.TotalRetencionesExSocios = Model.ExSocios.Sum(item => item.RetencionesM);

                            // Total SaldoInicial
                            Model.TotalSaldoInicialSocios = Model.Socios.Sum(item => item.SaldoInicial);
                            Model.TotalSaldoInicialExSocios = Model.ExSocios.Sum(item => item.SaldoInicial);
                        }
                        else
                        {
                            Model.TotalImpuestosSocios = Model.Socios.Sum(item => item.Impuestos);
                            Model.TotalImpuestosExSocios = Model.ExSocios.Sum(item => item.Impuestos);

                            // Total retenciones
                            Model.TotalRetencionesSocios = Model.Socios.Sum(item => item.Retenciones);
                            Model.TotalRetencionesExSocios = Model.ExSocios.Sum(item => item.Retenciones);

                            // Total SaldoInicial
                            Model.TotalSaldoInicialSocios = Model.Socios.Sum(item => item.SaldoInicialS);
                            Model.TotalSaldoInicialExSocios = Model.ExSocios.Sum(item => item.SaldoInicialS);

                        }


                        // Total AjusteEJ Anterior
                        Model.TotalAjustesEJAnteriorSocios = Model.Socios.Sum(item => item.AjusteEjercicioAnterior);
                        Model.TotalAjustesEJAnteriorExSocios = Model.ExSocios.Sum(item => item.AjusteEjercicioAnterior);

                        //condicion para que la suma solo lo haga en el alta,en edicion viene de base


                        //----- Suma de los totales

                        Model.SumaTotalSocios = Model.TotalSocios + Model.TotalExSocios;
                        Model.SumaTotalRetiros = Model.TotalRetirosSocios + Model.TotalRetirosExSocios;
                        Model.SumaTotalBonos = Model.TotalBonosSocios + Model.TotalBonosExSocios;
                        Model.SumaTotalImpuestos = Model.TotalImpuestosSocios + Model.TotalImpuestosExSocios;
                        Model.SumaTotalRetenciones = Model.TotalRetencionesSocios + Model.TotalRetencionesExSocios;
                        Model.SumaTotalAjustesEJAnterior = Model.TotalAjustesEJAnteriorSocios + Model.TotalAjustesEJAnteriorExSocios;
                        Model.SumaTotalSaldoInicial = Model.TotalSaldoInicialSocios + Model.TotalSaldoInicialExSocios;

                        if (Model.Socios.Count > 0)
                        {
                            for (int i = 0; i < Model.Socios.Count; i++)
                            {


                                <tr id="@Model.Socios[i].PersonaId" data-type="Socio" data-row="@i">
                                    <td>@Model.Socios[i].Socio</td>
                                    <td>
                                        <div id="Importe_@Model.Socios[i].PersonaId" data-val="@Model.Socios[i].Importe">
                                            $ @Model.Socios[i].Importe.ToString("N0")
                                            @*@Html.TextBoxFor(model => Model.Socios[i].Importe, new { htmlAttributes = new { @class = "form-control form-control-sm", @type = "number", @min = "0", @Id = "Importe_" + Model.Socios[i].PersonaId + "" } })
                                @Html.ValidationMessageFor(model => Model.Socios[i].Importe)*@
                                        </div>

                                    </td>

                                    <td>
                                        <div id="ImporteBono_@Model.Socios[i].PersonaId" data-val="@Model.Socios[i].Bono">
                                            $ @Model.Socios[i].Bono.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        <div id="ImporteRetiro_@Model.Socios[i].PersonaId" data-val="@Model.Socios[i].Retiro">
                                            $ @Model.Socios[i].Retiro.ToString("N0")
                                        </div>
                                    </td>

                                    <td>
                                        @{
                                            if (Model.Modo == "BonosRetiroCargados")
                                            {
                                                <div id="ImporteImpuestos_@Model.Socios[i].PersonaId" data-val="@Model.Socios[i].ImpuestosM" data-modif="">
                                                    $ @Model.Socios[i].ImpuestosM.ToString("N0")
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="ImporteImpuestos_@Model.Socios[i].PersonaId" data-val="@Model.Socios[i].Impuestos" data-modif="">
                                                    $ @Model.Socios[i].Impuestos.ToString("N0")
                                                </div>
                                            }
                                        }
                                  
                                    </td>

                                    <td>

                                        @{
                                            if (Model.Modo == "BonosRetiroCargados")
                                            {
                                        <div id="ImporteRetenciones_@Model.Socios[i].PersonaId" data-val="@{@Model.Socios[i].RetencionesM}" data-modif="">
                                            $ @Model.Socios[i].RetencionesM.ToString("N0")
                                        </div>
                                            }
                                            else
                                            {
                                                <div id="ImporteRetenciones_@Model.Socios[i].PersonaId" data-val="@{@Model.Socios[i].Retenciones}" data-modif="">
                                                    $ @Model.Socios[i].Retenciones.ToString("N0")
                                                </div>
                                            }
                                        }
                                    
                                    </td>

                                    <td>
                                        <div id="ImporteAjusteEjercicioAnterior_@Model.Socios[i].PersonaId" data-val="@Model.Socios[i].AjusteEjercicioAnterior">
                                            $ @Model.Socios[i].AjusteEjercicioAnterior.ToString("N0")
                                        </div>

                                    </td>
                                    <td>

                                        @{
                                            if (Model.Modo == "BonosRetiroCargados")
                                            {
                                                <div id="ImporteSaldoInicial_@Model.Socios[i].PersonaId" data-val="@{@Model.Socios[i].SaldoInicial}" data-modif="">
                                                    $ @Model.Socios[i].SaldoInicial.ToString("N0")
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="ImporteSaldoInicial_@Model.Socios[i].PersonaId" data-val="@{@Model.Socios[i].SaldoInicialS}" data-modif="">
                                                    $ @Model.Socios[i].SaldoInicialS.ToString("N0")
                                                </div>
                                            }
                                        }


                                    </td>

                                    <td style="text-align: right">
                                        <button type="button" class="btn btn-light btn-xs ml-1" data-id="" onClick="EdicionDatos('@Model.Socios[i].PersonaId'); return false;" title="Editar datos">
                                            <span class="fas fa-pen" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }

                        <tr id="totalSocios" class="bg-total">
                            <td>Total socios</td>
                            <td>
                                <div id="Importe_AjusteEjercicioAnterior">
                                    $ @Model.TotalSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalBonosSocios">
                                    $ @Model.TotalBonosSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalRetirosSocios">
                                    $ @Model.TotalRetirosSocios.ToString("N0")
                                </div>

                            </td>

                            <td>
                                <div id="Importe_TotalImpuestosSocios" data-val="@Model.TotalImpuestosSocios">
                                    $ @Model.TotalImpuestosSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalRetencionesSocios" data-val="@Model.TotalRetencionesSocios">
                                    $ @Model.TotalRetencionesSocios.ToString("N0")
                                </div>

                            </td>

                            <td>
                                <div id="Importe_TotalAjustesEJAnteriorSocios">
                                    $ @Model.TotalAjustesEJAnteriorSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalSaldoInicialSocios" data-val="@Model.TotalSaldoInicialSocios">
                                    $ @Model.TotalSaldoInicialSocios.ToString("N0")
                                </div>
                            </td>

                            <td></td>

                        </tr>
                        //--------------------------------------------------------------------------------
                        if (Model.ExSocios.Count > 0)
                        {

                            for (int i = 0; i < Model.ExSocios.Count; i++)
                            {

                        <tr id="@Model.ExSocios[i].PersonaId" data-type="ExSocio" data-row="@i">
                            <td>@Model.ExSocios[i].Socio</td>
                            <td>
                                <div id="Importe_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].Importe">
                                    $ @Model.ExSocios[i].Importe.ToString("N0")
                                </div>

                            </td>

                            <td>
                                <div id="ImporteBono_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].Bono">
                                    $ @Model.ExSocios[i].Bono.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="ImporteRetiro_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].Retiro">
                                    $ @Model.ExSocios[i].Retiro.ToString("N0")
                                </div>
                            </td>

                            <td>
                                @{
                                    if (Model.Modo == "BonosRetiroCargados")
                                    {
                                        <div id="ImporteImpuestos_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].ImpuestosM" data-modif="">
                                            $ @Model.ExSocios[i].ImpuestosM.ToString("N0")
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="ImporteImpuestos_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].Impuestos" data-modif="">
                                            $ @Model.ExSocios[i].Impuestos.ToString("N0")
                                        </div>
                                    }
                                }


                            </td>

                            <td>

                                @{
                                    if (Model.Modo == "BonosRetiroCargados")
                                    {
                                        <div id="ImporteRetenciones_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].RetencionesM" data-modif="">
                                            $ @Model.ExSocios[i].RetencionesM.ToString("N0")
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="ImporteRetenciones_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].Retenciones" data-modif="">
                                            $ @Model.ExSocios[i].Retenciones.ToString("N0")
                                        </div>
                                    }
                                }


                            </td>

                            <td>
                                <div id="ImporteAjusteEjercicioAnterior_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].AjusteEjercicioAnterior">
                                    $ @Model.ExSocios[i].AjusteEjercicioAnterior.ToString("N0")
                                </div>
                            </td>

                            @{ if (Model.Modo == "BonosRetiroCargados")
                                {
                                    <td>
                                        <div id="ImporteSaldoInicial_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].SaldoInicial" data-modif="">
                                            $ @Model.ExSocios[i].SaldoInicial.ToString("N0")
                                        </div>
                                    </td>

                                }
                                else
                                {
                                    <td>
                                        <div id="ImporteSaldoInicial_@Model.ExSocios[i].PersonaId" data-val="@Model.ExSocios[i].SaldoInicialS" data-modif="">
                                            $ @Model.ExSocios[i].SaldoInicialS.ToString("N0")
                                        </div>
                                    </td>
                                }

                            }



                            <td style="text-align: right">
                                <button type="button" class="btn btn-light btn-xs ml-1" data-id="" onClick="EdicionDatos('@Model.ExSocios[i].PersonaId'); return false;" title="Editar datos">
                                    <span class="fas fa-pen" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                            }


                        }
                        <tr id="totalExSocios" class="bg-total">
                            <td>Total ExSocios</td>
                            <td>
                                <div id="ImporteTotal_ExSocio">
                                    $ @Model.TotalExSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalBonosExSocios">
                                    $ @Model.TotalBonosExSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalRetirosExSocios">
                                    $ @Model.TotalRetirosExSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalImpuestosExSocios" data-val="@Model.TotalImpuestosExSocios">
                                    $ @Model.TotalImpuestosExSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalRetencionesExSocios" data-val="@Model.TotalRetencionesExSocios">
                                    $ @Model.TotalRetencionesExSocios.ToString("N0")
                                </div>

                            </td>

                            <td>
                                <div id="Importe_TotalAjustesEJAnteriorExSocios" data-val="@Model.TotalAjustesEJAnteriorExSocios">
                                    $ @Model.TotalAjustesEJAnteriorExSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="Importe_TotalSaldoInicialExSocios" data-val="@Model.TotalSaldoInicialExSocios">
                                    $ @Model.TotalSaldoInicialExSocios.ToString("N0")
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="bg-totalGeneral">
                            <td>TOTAL</td>
                            <td>
                                <div id="ImporteSumaTotal">
                                    $ @Model.SumaTotalSocios.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="ImporteSumaTotalBonos">
                                    $ @Model.SumaTotalBonos.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="ImporteSumaTotalRetiros">
                                    $ @Model.SumaTotalRetiros.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="ImporteSumaTotalImpuestos" data-val="@Model.SumaTotalImpuestos">
                                    $ @Model.SumaTotalImpuestos.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="ImporteSumaTotalRetenciones" data-val="@Model.SumaTotalRetenciones">
                                    $ @Model.SumaTotalRetenciones.ToString("N0")
                                </div>

                            </td>

                            <td>
                                <div id="ImporteSumaTotalAjustesEJAnterior">
                                    $ @Model.SumaTotalAjustesEJAnterior.ToString("N0")
                                </div>
                            </td>

                            <td>
                                <div id="ImporteSumaTotalSaldoInicial" data-val="@Model.SumaTotalSaldoInicial">
                                    $ @Model.SumaTotalSaldoInicial.ToString("N0")
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="text-center">
                @if (Model.Modo == "BonosRetiroCargados")
                {
                    <button type="button" class="btn btn-primary btn-sm pl-3 pr-3 mt-5" onclick="ModalRechazarBonosRetiros();">Rechazar Bonos/Retiros</button>
                }
                <button type="submit" class="btn btn-primary btn-sm pl-3 pr-3 mt-5">Guardar</button>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<environment include="Development">
    <script src="~/js/ValidacionCalculosIniciales.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/ValidacionCalculosIniciales.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">

    $(document).ready(function () {
        var modo = '@Model.Modo';

    })

</script>
