


@model BackendPortal.Models.VM.EdicionEventoVM

@{ string identif = "Modal";
    string rutaImg = @System.Configuration.ConfigurationManager.AppSettings["DIR_EVENTO_URL"] + Model.EdicionEvento.IdEdicionEvento + "/" + Model.EdicionEvento.Picture;
    string rutaImgFooter = @System.Configuration.ConfigurationManager.AppSettings["DIR_EVENTO_URL"] + Model.EdicionEvento.IdEdicionEvento + "/" + Model.EdicionEvento.PictureFooter;
}

<div id="AlertsModal">
</div>
<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form id="EdicionEventoForm" onsubmit="GuardarEdicionEvento(); return false" enctype="multipart/form-data">
            @Html.HiddenFor(model => model.Modo)
            @Html.HiddenFor(model => model.Titulo)
            @Html.HiddenFor(model => model.EdicionEvento.IdEdicionEvento)
            @Html.HiddenFor(model => model.EdicionEvento.AreasPracticas, new { id = "hAreasPracticas" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.EdicionEvento.Autores, new { id = "hAutores" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.EdicionEvento.Speakers, new { id = "hSpeakers" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.EdicionEvento.IdEvento, new { id = "hEvento" + identif, @class = "IncludeHidden" })

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.Titulo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contenedorFoto">
                                <label>Imagen principal</label>
                                <center>
                                    <div style="margin-top:10px;">
                                        @if (!string.IsNullOrEmpty(Model.EdicionEvento.Picture) && BackendPortal.Controllers.BaseController.ExisteUrl(rutaImg))
                                        {
                                            <img id="imgPicture" src="@{@rutaImg}" title="@{@Model.EdicionEvento.Picture_description}" class="imgFoto" />
                                        }
                                        else
                                        {
                                            <img id="imgPicture" src="~/Images/imgNoDisp.png" title="Imagen no disponible" class="imgFoto" />
                                        }
                                    </div>
                                </center>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.EdicionEvento.Picture, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "principalPicture", name = "", @readonly = "readonly" } })
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file btn-sm">
                                                    Buscar…
                                                    @Html.TextBoxFor(model => model.EdicionEvento.PictureUpload, new { type = "file", id = "inputFilePicture", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePicture');readURL(this, 'imgPicture');" })
                                                </span>
                                            </span>
                                        </div>
                                        <div id="divFormatoIncorrecto" class="hidden" style="margin-top:10px;">
                                            <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.EdicionEvento.Picture)
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-sm btn-default" onclick="BorrarPicturePrincipal();">Limpiar</button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <label>Descripción</label>
                                        @Html.EditorFor(model => model.EdicionEvento.Picture_description, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.EdicionEvento.Picture_description)
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        @Html.HiddenFor(model => model.EdicionEvento.ImagenPosY, new { id = "hImagenPosY" + identif, @class = "IncludeHidden" })

                                        <div class="form-group">
                                            <label for="ddlImagenPosY@{@identif}">Posicion imagen</label>
                                            <div id="pnlImagenPosY@{@identif}"></div>
                                            @Html.ValidationMessageFor(model => model.EdicionEvento.ImagenPosY)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contenedorFoto">
                                <label>Imagen Footer</label>
                                <center>
                                    <div style="margin-top:10px;">
                                        @if (!string.IsNullOrEmpty(Model.EdicionEvento.PictureFooter) && BackendPortal.Controllers.BaseController.ExisteUrl(rutaImgFooter))
                                        {
                                            <img id="imgPictureFooter" src="@{@rutaImgFooter}" title="@{@Model.EdicionEvento.Picture_description}" class="imgFoto" />
                                        }
                                        else
                                        {
                                            <img id="imgPictureFooter" src="~/Images/imgNoDisp.png" title="Imagen no disponible" class="imgFoto" />
                                        }
                                    </div>
                                </center>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.EdicionEvento.PictureFooter, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "footerPicture", name = "", @readonly = "readonly" } })
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file btn-sm">
                                                    Buscar…
                                                    @Html.TextBoxFor(model => model.EdicionEvento.ImgFooter, new { type = "file", id = "inputFilePictureFooter", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePictureFooter');readURL(this, 'imgPictureFooter');" })
                                                </span>
                                            </span>
                                        </div>
                                        <div id="divFormatoIncorrectoFooter" class="hidden" style="margin-top:10px;">
                                            <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.EdicionEvento.PictureFooter)
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-sm btn-default" onclick="BorrarPictureFooter();">Limpiar</button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <label>Descripción</label>
                                        @Html.EditorFor(model => model.EdicionEvento.PictureFooter_description, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.EdicionEvento.PictureFooter_description)
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group" style="border: solid 1px #ccc; padding: 12px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-sm">
                                <label for="ddEvento@{@identif}">Evento*</label>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="text-align:center">
                                            @Html.RadioButtonFor(model => model.EdicionEvento.NuevoEvento, false, new { @Checked = "checked", id = "EventoCombo" })
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div>
                                            <div id="pnlEvento@{@identif}">
                                                <img src="~/Images/loading.gif" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div style="text-align:center;">
                                            @Html.RadioButtonFor(model => model.EdicionEvento.NuevoEvento, true)
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div>
                                            @Html.EditorFor(model => model.EdicionEvento.TxtEvento, new { htmlAttributes = new { @class = "form-control input-sm", id = "EventoTxt", placeholder = "Nuevo evento..." } })
                                            @Html.ValidationMessageFor(model => model.EdicionEvento.TxtEvento)
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Edición *</label>
                            <div>
                                @Html.EditorFor(model => model.EdicionEvento.TituloEdicion, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.EdicionEvento.TituloEdicion)
                            </div>
                        </div>

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label>Fecha Evento Desde *</label>
                            <div class="input-group date">
                                @Html.EditorFor(model => model.EdicionEvento.Fecha, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                <div class="input-group-addon input-sm dtp-sm">
                                    <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Fecha)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label>Fecha Evento Hasta</label>
                            <div class="input-group date">
                                @Html.EditorFor(model => model.EdicionEvento.FechaHasta, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                <div class="input-group-addon input-sm dtp-sm">
                                    <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Hora *</label>
                        <div>
                            @Html.EditorFor(model => model.EdicionEvento.Hora, new { htmlAttributes = new { @class = "form-control input-sm", @type = "time" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.EdicionEvento.Hora)
                    </div>

                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <div>
                            <label>Lugar</label>
                            @Html.EditorFor(model => model.EdicionEvento.Lugar, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Lugar)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label>Formato es</label>
                            @Html.EditorFor(model => model.EdicionEvento.Formato, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label>Formato en</label>
                            @Html.EditorFor(model => model.EdicionEvento.Formato_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <div style="margin-top:20px;">
                            <label>Áreas de Práctica</label>
                            <div id="pnlAreasPracticas@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div style="margin-top:20px;">
                            <label>Autores</label>
                            <div id="pnlAutores@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Autores)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="margin-top:20px;">
                            <label>Speakers</label>
                            <div id="pnlSpeakers@{@identif}">
                                <img src="~/Images/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-md-4">
                        <label>Archivo calendario Outlook ES</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.EdicionEvento.StrCalendario, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "inputStrCalendario", name = "StrCalendarioES", @readonly = "readonly" } })
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file btn-sm">
                                    Buscar…
                                    @Html.TextBoxFor(model => model.EdicionEvento.FCalendario, new { type = "file", id = "fCalendario", name = "", @class = "nodisplay", onchange = "SetNameFile('fCalendario')" })
                                </span>
                            </span>
                        </div>
                        @*<div id="divFormatoIncorrecto" class="hidden" style="margin-top:10px;">
                    <span class="field-validation-error">Formato de archivo incorrecto.</span>
                </div>*@
                    </div>
                    <div class="col-md-1" style="padding-left:0px;">
                        <button type="button" class="btn btn-sm btn-default" onclick="BorrarLinkES();" title="Borrar archivo Outlook ES" style="margin-top:22px;">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <label>Archivo calendario Outlook EN</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.EdicionEvento.StrCalendarioEn, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "inputStrCalendarioEn", name = "StrCalendarioEN", @readonly = "readonly" } })
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file btn-sm">
                                    Buscar…
                                    @Html.TextBoxFor(model => model.EdicionEvento.FCalendario_en, new { type = "file", id = "fCalendario_en", name = "", @class = "nodisplay", onchange = "SetNameFile('fCalendario_en')" })
                                </span>
                            </span>
                        </div>
                        @*<div id="divFormatoIncorrecto_en" class="hidden" style="margin-top:10px;">
                    <span class="field-validation-error">Formato de archivo incorrecto.</span>
                </div>*@
                    </div>
                    <div class="col-md-1" style="padding-left:0px;">
                        <button type="button" class="btn btn-sm btn-default" onclick="BorrarLinkEN();" title="Borrar archivo Outlook EN" style="margin-top:22px;">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <div style="margin-top:22px;">
                            @Html.CheckBoxFor(model => model.EdicionEvento.ConConfirmacion, new { @checked = "checked", @Value = "true" }) <label>Confirmación</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-md-6">
                        <div>
                            <label>Link Google Calendar ES</label>
                            @Html.EditorFor(model => model.EdicionEvento.LinkGoogle, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label>Link Google Calendar EN</label>
                            @Html.EditorFor(model => model.EdicionEvento.LinkGoogleEn, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-md-8">
                        <div>
                            <label>Link al Evento</label>
                            @Html.EditorFor(model => model.EdicionEvento.LinkEvento, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <div style="border: solid 1px #ccc; padding: 12px; margin-top: 20px">
                    <div class="row">
                        <div class="col-md-6">
                            <label>APP</label>
                            <div>
                                @Html.CheckBoxFor(model => model.EdicionEvento.FijarApp, new { @checked = "checked", @Value = "true" }) <label>Fijar en APP</label>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>

                    </div>
                </div>


                @*---------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="form-group" style="margin-top:25px;">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-5">
                            <label>Titulo URL</label>
                            @Html.EditorFor(model => model.EdicionEvento.Title_url, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Title_url)
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-5">
                            <label>Título landing evento (es) *</label>
                            @Html.EditorFor(model => model.EdicionEvento.Title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Title_es)
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Copete (es)</label>
                            @Html.TextAreaFor(model => model.EdicionEvento.Header_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Contenido (es)*</label>
                            @Html.TextAreaFor(model => model.EdicionEvento.Content_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Content_es)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="margin-top:10px;">
                            <label>Meta Título (es)</label>
                            @Html.EditorFor(model => model.EdicionEvento.Meta_Title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Meta_Title_es)
                        </div>
                        <div class="col-md-7">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Meta Descripción (es)</label>
                            @Html.TextAreaFor(model => model.EdicionEvento.Meta_description_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-5">
                            <label>Título landing evento (en) *</label>
                            @Html.EditorFor(model => model.EdicionEvento.Title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Title_en)
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Copete (en)</label>
                            @Html.TextAreaFor(model => model.EdicionEvento.Header_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Contenido (en)*</label>
                            @Html.TextAreaFor(model => model.EdicionEvento.Content_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Content_en)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="margin-top:10px;">
                            <label>Meta Título (en)</label>
                            @Html.EditorFor(model => model.EdicionEvento.Meta_Title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Meta_Title_en)
                        </div>
                        <div class="col-md-7">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Meta Descripción (en)</label>
                            @Html.TextAreaFor(model => model.EdicionEvento.Meta_description_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Cita (es)</label>
                            @Html.EditorFor(model => model.EdicionEvento.Cita_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Cita_es)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Cita (en)</label>
                            @Html.EditorFor(model => model.EdicionEvento.Cita_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.Cita_en)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Cita Extra (es)</label>
                            @Html.EditorFor(model => model.EdicionEvento.CitaExtra_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.CitaExtra_es)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Cita Extra (en)</label>
                            @Html.EditorFor(model => model.EdicionEvento.CitaExtra_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.CitaExtra_en)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Url teaser</label>
                            @Html.EditorFor(model => model.EdicionEvento.UrlTeaser, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EdicionEvento.UrlTeaser)
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Archivo agenda</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.EdicionEvento.ArchivoAgenda, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "inputArchivoAgenda", @readonly = "readonly" } })
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file btn-sm">
                                                Buscar…
                                                @Html.TextBoxFor(model => model.EdicionEvento.ArchivoAgendaPDF, new
                                           {
                                               type = "file",
                                               id = "fileAgenda",
                                               name = "",
                                               @class = "nodisplay",
                                               onchange = "CambiarNombreArchivoAgenda()"
                                           })
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-sm btn-default mb-0" onclick="BorrarArchivoAgenda();" title="Borrar archivo Agenda">
                                        <span class="glyphicon glyphicon-remove mb-0" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group" style="border: solid 1px #ccc; padding: 12px; margin-top: 20px">
                        <label>Dynamics</label>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label>FormID</label>
                                @Html.EditorFor(model => model.EdicionEvento.FormID_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.EdicionEvento.FormID_es)
                            </div>
                            <div class="col-md-6">
                                <label>Readable Event Id</label>
                                @Html.EditorFor(model => model.EdicionEvento.FormEventoID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.EdicionEvento.FormEventoID)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardarEvento" data-loading-text="<i class='glyphicon glyphicon-repeat fa-spin'></i> Guardando">Guardar</button>
                </div>
            </div>

        </form>


    </div>
</div>



@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datepicker")

@Styles.Render("~/Content/datepicker")

@Scripts.Render("~/bundles/Selectize")
@Styles.Render("~/Content/Selectize")

@Scripts.Render("~/Scripts/combos.js")

<script>
    $(document).ready(function () {
        ;
        InicializarDatePickers();
        InicializarCombosAndCkeditorEdicionEvento();
    });
</script>