
@{
    ViewBag.Title = "Eventos";
}



<div id="AlertsEvento"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12 izq">
                <h2>@ViewBag.Title</h2>
            </div>

        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12 der">
                <button type="button" class="btn btn-primary" onclick="AltaEdicionEvento(); return false;">Nueva Edición</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="EventoTable" class="display compact">
                    <thead>
                        <tr>
                            <th>Evento</th>
                            <th>Título Landing</th>
                            <th>Fecha</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="idEdicionEvento" />
</div>

@Scripts.Render("~/bundles/Evento")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileupload")

<script type="text/javascript">

    var web_url_evento = "@System.Configuration.ConfigurationManager.AppSettings["WEB_EVENTO"]";

    $(document).ready(function () {
        InicializarTablaEdicionEvento();

    })

</script>