@model BackendPortal.Models.VM.BusquedaContactoVM

@{
    ViewBag.Title = "Contactos";
}

<div id="AlertsContacto">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 izq">
                <h2>Contactos</h2>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-sm desplegableFiltros" onclick="FiltrosBusquedaContacto();">
                Búsqueda&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
        <div id="filtrosBusquedaContacto" style="margin-top:20px; display:none;" class="panel panel-default">
            <div class="panel-body">
                <form id="BusquedaContactoForm">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div id="pnlBusqueda" class="panel-body">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Fecha Desde</label>
                                            <div class="input-group date">
                                                @Html.EditorFor(model => model.busqueda.FechaDesde, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly", placeholder = "Desde" } })
                                                <div class="input-group-addon input-sm dtp-sm">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Fecha Hasta</label>
                                            <div class="input-group date">
                                                @Html.EditorFor(model => model.busqueda.FechaHasta, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly", placeholder = "Hasta" } })
                                                <div class="input-group-addon input-sm dtp-sm">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <center>
                                        <div class="col-md-2 centrarBtn">
                                            <button type="button" class="btn btn-default" onclick="LimpiarFormBusquedaContacto();">Limpiar</button>
                                        </div>
                                    </center>
                                    <div class="col-md-2 centrarBtn">
                                        <button type="button" class="btn btn-primary" onclick="BuscarContacto();">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <table id="TablaContacto" class="display compact">
                    <thead>
                        <tr>
                            <th>FechaAlta</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Cargo</th>
                            <th>Empresa</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Contacto")

@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/datepicker")
@Styles.Render("~/Content/datepicker")

@Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
@Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")

@Scripts.Render("~/Scripts/DataTables/jszip.min.js")

<script>
    $(document).ready(function () {
        InicializarDatePickers();
        IniciarTablaContacto();
    });
</script>