@model BackendPortal.Models.VM.UsuariosModalVM

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="UsuariosForm" onsubmit="GuardarUsuarios(); return false;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloModal">@Model.titulo</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.modo)
                @Html.HiddenFor(model => model.usuarios.idUsuario)

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Nombre">Nombre *</label>
                            @Html.EditorFor(model => model.usuarios.Nombre, new { htmlAttributes = new { id = "Nombre", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.usuarios.Nombre)
                        </div>
                        <div class="col-md-6">
                            <label for="Apellido">Apellido *</label>
                            @Html.EditorFor(model => model.usuarios.Apellido, new { htmlAttributes = new { id = "Apellido", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.usuarios.Apellido)
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Email">Email *</label>
                            @Html.EditorFor(model => model.usuarios.Email, new { htmlAttributes = new { type = "email", id = "Email", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.usuarios.Email)
                        </div>
                        <div class="col-md-6">
                            <label for="Usuario">Usuario *</label>
                            @Html.EditorFor(model => model.usuarios.Usuario, new { htmlAttributes = new { id = "Usuario", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.usuarios.Usuario)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Clave">Clave *</label>
                            @Html.TextBoxFor(model => model.usuarios.Clave, new { type = "password", id = "Clave", name = "Clave", @class = "form-control input-sm ta-coment" })
                            @Html.ValidationMessageFor(model => model.usuarios.Clave)
                        </div>
                        <div class="col-md-4">
                            <label>Es Administrador</label>
                            <div style="margin-top:5px;">
                                <div style="display:inline-block;">
                                    @*@Html.CheckBoxFor(model => model.usuarios.EsAdmin, "S") Si*@
                                    @Html.CheckBoxFor(model => model.usuarios.EsAdmin, new { @checked = "checked" })

                                </div>
                                @*<div style="display:inline-block; margin-left:4px;">
                    @Html.RadioButtonFor(model => model.usuarios.EsAdmin, "N") No
                </div>*@
                            </div>
                            @Html.ValidationMessageFor(model => model.usuarios.EsAdmin)
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">@Model.boton</button>
            </div>
        </form>
    </div>
</div>

<div id="AlertsModal">
</div>

@Scripts.Render("~/bundles/jqueryval")
