@model BackendPortal.Models.VM.BusquedaCVVM

@{
    ViewBag.Title = "RRHH - CVs";
}

<div id="AlertsCV">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10 izq">
                <h2>RRHH - CVs</h2>
            </div>
            <div class="col-md-2 der">
                <button type="button" class="btn btn-primary" onclick="AltaCV();">Nuevo CV</button>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-sm desplegableFiltros" onclick="FiltrosBusquedaCV();">
                Búsqueda&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
        <div id="filstrosBusquedaCV" style="margin-top:20px; display:none;" class="panel panel-default">
            <div class="panel-body">
                <form id="BusquedaCVForm">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Apellido</label>
                            @Html.EditorFor(model => model.busqueda.Apellido, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.busqueda.Apellido)
                        </div>
                        <div class="col-md-4">
                            <label>Dni</label>
                            @Html.EditorFor(model => model.busqueda.Dni, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.busqueda.Dni)
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Fechas</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.busqueda.FechaDesde, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly", placeholder = "Desde" } })
                                        <div class="input-group-addon input-sm dtp-sm">
                                            <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align:center; margin-top:5px;"><label>&mdash;</label></div>
                                <div class="col-md-5">
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.busqueda.FechaHasta, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly", placeholder = "Hasta" } })
                                        <div class="input-group-addon input-sm dtp-sm">
                                            <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:17px;">
                        <center>
                            <div>
                                <button type="button" class="btn btn-default" onclick="LimpiarFormBusquedaCV();">Limpiar</button>
                                <button type="button" class="btn btn-primary" onclick="BuscarCVs();">Buscar</button>
                            </div>
                        </center>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <table id="TablaCV" class="display compact">
                    <thead>
                        <tr>
                            <th>Alta</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hIdCV" />

@Scripts.Render("~/bundles/CV")

@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/datepicker")
@Styles.Render("~/Content/datepicker")

@Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
@Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")

@Scripts.Render("~/Scripts/DataTables/jszip.min.js")

<script>
    $(document).ready(function () {
        InicializarDatePickers();
        IniciarTablaCV();
    });
</script>