@model BackendPortal.Models.VM.LogInVM

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}

<script language="javascript" type="text/javascript">

    var frmLogin = "Login";

    $(document).ready(function () {
        CargarAlertas(frmLogin);
    });

</script>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="LoginForm" onsubmit="Ingresar(); return false;">
                    <center><img src="~/Images/logo-s.jpg" /></center>
                    <div style="margin-top:10px;">
                        <label>Usuario</label>
                        @Html.EditorFor(model => model.credenciales.Usuario, new { htmlAttributes = new { @class = "form-control input-sm", style="max-width: 100%",placeholder = "Usuario" } })
                        @Html.ValidationMessageFor(model => model.credenciales.Usuario)
                    </div>
                    <div style="margin-top:10px;">
                        <label>Contraseña</label>
                        @Html.PasswordFor(model => model.credenciales.Contrasena, new { @class = "form-control input-sm", style="max-width: 100%", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(model => model.credenciales.Contrasena)
                    </div>
                    <center>
                        <div id="divCredencialesIncorrectas" class="hidden" style="margin-top:10px;">
                            <span class="field-validation-error">Usuario o contraseña incorrecta.</span>
                        </div>
                        <div style="margin-top:15px;">
                            <button type="submit" class="btn btn-primary" id="btnAcceso">Ingresar</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div id="AlertsLogin"></div>

@Scripts.Render("~/bundles/Login")