@{
    string identif = "Newsletters";
    ViewBag.Title = identif;
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-10 izq">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="col-md-2 der">
                <button type="button" class="btn btn-primary" id="btnAlta@(identif)" onclick="Alta@(identif)();">Nuevo Newsletter</button>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12 col-sm-12" id="pnlGrilla@(identif)">

                <table id="Tabla@(identif)" class="display compact">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Título</th>
                            <th>Área</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div id="Alerts@(identif)">

</div>

@Scripts.Render("~/bundles/Newsletter")
@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/DataTables")

@Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")

@Styles.Render("~/Content/DataTables/css/styles")
@Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")


<script type="text/javascript">
    $(document).ready(function () {

        IniciarTablaNewsletters();

    });
</script>
