

@model BackendPortal.Models.VM.LandingPageVM

@{ string identif = "Modal";
    string rutaImg = @System.Configuration.ConfigurationManager.AppSettings["DIR_LANDINGPAGE_URL"] + Model.Landing.IdLanding+"/"+ Model.Landing.Picture;
}

<div id="AlertsModal">
</div>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        @Html.HiddenFor(model => model.Modo)
        @Html.HiddenFor(model => model.Titulo)

        <form id="LandingPageForm" onsubmit="SaveLandingPage(); return false;" enctype="multipart/form-data">
            @Html.HiddenFor(model => model.Modo)
            @Html.HiddenFor(model => model.Titulo)
            @Html.HiddenFor(model => model.Landing.IdLanding)
            @Html.HiddenFor(model => model.Landing.AreasPracticas, new { id = "hAreasPracticas" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.Landing.Autores, new { id = "hAutores" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.Landing.Campania, new { id = "hCampania" + identif, @class = "IncludeHidden" })
            @Html.HiddenFor(model => model.Landing.Priorizar)
            @Html.HiddenFor(model => model.Landing.Destacado)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.Titulo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contenedorFoto">
                                <label>Imagen</label>
                                <center>
                                    <div style="margin-top:10px;">
                                        @if (!string.IsNullOrEmpty(Model.Landing.Picture) && BackendPortal.Controllers.BaseController.ExisteUrl(rutaImg))
                                        {
                                            <img id="imgPicture" src="@{@rutaImg}" title="@{@Model.Landing.Picture_description}" class="imgFoto" />
                                        }
                                        else
                                        {
                                            <img id="imgPicture" src="~/Images/imgNoDisp.png" title="Imagen no disponible" class="imgFoto" />
                                        }
                                    </div>
                                </center>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Landing.Picture, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenamePicture", name = "", @readonly = "readonly" } })
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file btn-sm">
                                                    Buscar…
                                                    @Html.TextBoxFor(model => model.Landing.PictureUpload, new { type = "file", id = "inputFilePicture", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePicture');readURL(this, 'imgPicture');" })
                                                </span>
                                            </span>
                                        </div>
                                        <div id="divFormatoFotoIncorrecto" class="hidden" style="margin-top:10px;">
                                            <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Landing.Picture)
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-sm btn-default" onclick="BorrarPictureArticulo();">Limpiar</button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-9">
                                        <label>Descripción</label>
                                        @Html.EditorFor(model => model.Landing.Picture_description, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Landing.Picture_description)
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @Html.HiddenFor(model => model.Landing.ImagenPosY, new { id = "hImagenPosY" + identif, @class = "IncludeHidden" })

                                <div class="form-group">
                                    <label for="ddlImagenPosY@{@identif}">Posicion imagen</label>
                                    <div id="pnlImagenPosY@{@identif}"></div>
                                    @Html.ValidationMessageFor(model => model.Landing.ImagenPosY)
                                </div>
                            </div>

                            <div>
                                <label>Fecha de Publicación</label>
                                <div class="input-group date">
                                    @Html.EditorFor(model => model.Landing.Pub_date, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                    <div class="input-group-addon input-sm dtp-sm">
                                        <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Landing.Pub_date)
                            </div>
                            <div style="margin-top:20px;">
                                <label>Áreas de Práctica</label>
                                <div id="pnlAreasPracticas@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                            </div>
                            <div style="margin-top:20px;">
                            <div style="margin-top:20px;">
                                <label>Autores</label>
                                <div id="pnlAutores@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                                @Html.ValidationMessageFor(model => model.Landing.Autores)
                            </div>
                            <div style="margin-top:20px;">
                                <label>Destacado</label>
                                @if (Model.Landing.Destacado == 1)
                                {
                                    <input type="checkbox" id="Destacado" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" id="Destacado" />
                                }
                            </div>
                            <div>
                                <label>Priorizar destacado</label>
                                @{
                                    if (Model.Landing.Priorizar == 1)
                                    {
                                        <input type="checkbox" id="Priorizar" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="Priorizar" />
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="form-group-sm">
                    <label for="ddCampania@{@identif}">Campaña*</label>
                    <div class="row">
                        <div class="col-md-1">
                            <div style="text-align:center">
                                @Html.RadioButtonFor(model => model.Landing.NuevaCampania, false, new { @Checked = "checked", id = "CampaniaCombo" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div id="pnlCampania@{@identif}">
                                    <img src="~/Images/loading.gif" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div style="text-align:center;">
                                @Html.RadioButtonFor(model => model.Landing.NuevaCampania, true)
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div>
                                @Html.EditorFor(model => model.Landing.TxtCampania, new { htmlAttributes = new { @class = "form-control input-sm", id = "CampaniaTxt", placeholder = "Nueva categoria..." } })
                                @Html.ValidationMessageFor(model => model.Landing.TxtCampania)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group" style="margin-top:25px;">
                    <div style="border: solid 1px #ccc; padding: 12px; margin-top: 20px">
                        <label>Descargas</label>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-6">
                                <label>Adjunto (es) *</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Landing.File_es, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "fileName_es", name = "", @readonly = "readonly" } })
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file btn-sm">
                                            Buscar…
                                            @Html.TextBoxFor(model => model.Landing.FileUpload_es, new { type = "file", id = "inputFile_es", name = "inputFile_es", @class = "nodisplay", onchange = "SetNameFile('inputFile_es');" })
                                        </span>
                                    </span>
                                </div>
                                <div id="errorFile_es" class="hidden" style="color:#bd0808;">El archivo es obligatorio.</div>
                            </div>
                            <div class="col-md-6">
                                <label>Adjunto (en) *</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Landing.File_en, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "fileName_en", name = "", @readonly = "readonly" } })
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file btn-sm">
                                            Buscar…
                                            @Html.TextBoxFor(model => model.Landing.FileUpload_en, new { type = "file", id = "inputFile_en", name = "inputFile_en", @class = "nodisplay", onchange = "SetNameFile('inputFile_en');" })
                                        </span>
                                    </span>
                                </div>
                                <div id="errorFile_en" class="hidden" style="color:#bd0808;">El archivo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-6">
                                <span>@(Model.urlDescargaAdjunto)&lang=es</span>

                            </div>
                            <div class="col-md-6">
                                <span>@Model.urlDescargaAdjunto&lang=en</span>
                            </div>
                        </div>
                    </div>
                    <div style="border: solid 1px #ccc; padding: 12px; margin-top: 20px">
                        <div class="row">
                            <div class="col-md-6">
                                <label>APP</label>
                                <div>
                                    @Html.CheckBoxFor(model => model.Landing.FijarApp, new { @checked = "checked", @Value = "true" }) <label>Fijar en APP</label>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-5">
                            <label>Titulo URL</label>
                            @Html.EditorFor(model => model.Landing.Title_url, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.Title_url)
                        </div>
                        <div class="col-md-7">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-5">
                            <label>Título (es) *</label>
                            @Html.EditorFor(model => model.Landing.Title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.Title_es)
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Copete (es)</label>
                            @Html.TextAreaFor(model => model.Landing.Header_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Contenido (es)*</label>
                            @Html.TextAreaFor(model => model.Landing.Content_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            @Html.ValidationMessageFor(model => model.Landing.Content_es)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="margin-top:10px;">
                            <label>Meta Título (es)</label>
                            @Html.EditorFor(model => model.Landing.Meta_Title_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.Meta_Title_es)
                        </div>
                        <div class="col-md-7">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Meta Descripción (es)</label>
                            @Html.TextAreaFor(model => model.Landing.Meta_description_es, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-5">
                            <label>Título (en) *</label>
                            @Html.EditorFor(model => model.Landing.Title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.Title_en)
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Copete (en)</label>
                            @Html.TextAreaFor(model => model.Landing.Header_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Contenido (en)*</label>
                            @Html.TextAreaFor(model => model.Landing.Content_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                            @Html.ValidationMessageFor(model => model.Landing.Content_en)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="margin-top:10px;">
                            <label>Meta Título (en)</label>
                            @Html.EditorFor(model => model.Landing.Meta_Title_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.Meta_Title_en)
                        </div>
                        <div class="col-md-7">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <label>Meta Descripción (en)</label>
                            @Html.TextAreaFor(model => model.Landing.Meta_description_en, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 250px" })
                        </div>
                    </div>
                </div>
                <div class="form-group" style="border: solid 1px #ccc; padding: 12px; margin-top: 20px">
                    <label>Dynamics</label>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <label>FormID (es)</label>
                            @Html.EditorFor(model => model.Landing.FormID_es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.FormID_es)
                        </div>
                        <div class="col-md-6">
                            <label>FormID (en)</label>
                            @Html.EditorFor(model => model.Landing.FormID_en, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Landing.FormID_en)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btnGuardarLanding" data-loading-text="<i class='glyphicon glyphicon-repeat fa-spin'></i> Guardando">Guardar</button>
            </div>
        </form>


    </div>
</div>



@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datepicker")

@Styles.Render("~/Content/datepicker")

@Scripts.Render("~/bundles/Selectize")
@Styles.Render("~/Content/Selectize")

@Scripts.Render("~/Scripts/combos.js")

<script>
    $(document).ready(function () {
        ;
        InicializarDatePickers();
        InicializarCombosAndCkeditor();
    });
</script>