@{
    ViewBag.Title = "Slides";
}

<div id="AlertsSlide">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10 izq">
                <h2>Slides</h2>
            </div>
            <div class="col-md-2 der">
                <button type="button" class="btn btn-primary" onclick="AltaSlide();">Nuevo Slide</button>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <table id="TablaSlide" class="display compact">
                    <thead>
                        <tr>
                            <th>Sección</th>
                            <th>Título (es)</th>
                            <th>Orden</th>
                            <th>Color del panel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hIdSlide" />

@Scripts.Render("~/bundles/Slide")

@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/Selectize")
@Styles.Render("~/Content/Selectize")

@Scripts.Render("~/Scripts/combos.js")

<script>
    $(document).ready(function () {
        IniciarTablaSlide();
    });
</script>