@model DistribucionUtilidades.Models.VM.ConsultaImpuestosRealesVM

@{ string identif = "_ConsultaImpuestosReales";
}

<div id="Alerts_ConsultaImpuestosReales"></div>

<div class="row mb-3">
    <div class="col-md-12">
        @{
            if (ViewBag.TipoProceso == 1)
            {
                <h3>Consulta de Impuestos Reales (Proceso Real)</h3>
            }
            else
            {
                <h3 style="color:#ff6a00">Consulta de Impuestos Reales (Proceso Provisorio)</h3>
            }
        }
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">
            En este módulo podrá visualizar toda la información de impuestos reales cargada hasta el momento. Seleccione el mes para ver el listado de socios con su desglose de impuestos y su valor total.
        </p>
    </div>
</div>


<form>
    <div class="row mt-3 mb-3">

        @Html.HiddenFor(model => model.Mes, new { id = "hMes" + identif, })
        <div class="form-group-sm col-md-4">
            <label for="ddMes@{@identif}">Mes</label>
            <div id="pnlMes@{@identif}">
                @*<img src="~/Images/loading.gif" />*@
            </div>
        </div>
        <div class="col-md-8"></div>

    </div>
</form>

<div class="live__scroll">
    <div class="row mt-3">
        <div class="col-md-12 live__scroll--box">
            <div class="table-responsive">
                <table id="ImpuestosRealesPorMesTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th width="20%" scope="col">Socio/Ex-Socio</th>
                            <th width="11%" scope="col">Bienes<br />Personales</th>
                            <th width="11%" scope="col">Saldo DDJJ<br />Bienes<br />Personales</th>
                            <th width="11%" scope="col">Impuestos<br />Ganancias</th>
                            <th width="11%" scope="col">Saldo DDJJ<br />Ganancias</th>
                            <th width="11%" scope="col">Impuesto<br />Cedular</th>
                            <th width="11%" scope="col">Saldo DDJJ<br />Impuesto<br />Cedular</th>
                            <th width="14%">Total</th>
                        </tr>

                    </thead>

                    <tbody id="impuestosPorMes">
                        <tr><td colspan="8" style="text-align:center">Seleccione un mes para ver el detalle</td></tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-12 live__scroll--box">
            <div class="table-responsive">
                <table id="ImpuestosAcumuladosTable" class="table">
                    <thead class="thead-light">
                        <tr>
                            <th width="20%" scope="col">ACUMULADO<br />Socio/Ex-Socio</th>
                            <th width="11%" scope="col">Bienes<br />Personales</th>
                            <th width="11%" scope="col">Saldo DDJJ<br />Bienes<br />Personales</th>
                            <th width="11%" scope="col">Impuestos<br />Ganancias</th>
                            <th width="11%" scope="col">Saldo DDJJ<br />Ganancias</th>
                            <th width="11%" scope="col">Impuesto<br />Cedular</th>
                            <th width="11%" scope="col">Saldo DDJJ<br />Impuesto<br />Cedular</th>
                            <th width="14%">Total</th>
                        </tr>

                    </thead>

                    <tbody>
                        @{
                            // Totales de los SOCIOS
                            long Importe_TotalImpuestosGananciasSocios = Model.AcumuladoSocios.Sum(item => item.Ganancias);
                            long Importe_TotalBienesPersonalesSocios = Model.AcumuladoSocios.Sum(item => item.BienesPersonales);
                            long Importe_TotalSaldoDDJJBienesPersonalesSocios = Model.AcumuladoSocios.Sum(item => item.SaldoDDJJBienes);
                            long Importe_TotalSaldoDDJJGananciasSocios = Model.AcumuladoSocios.Sum(item => item.SaldoDDJJGanancias);
                            long Importe_TotalSaldoDDJJImpuestoCedularSocios = Model.AcumuladoSocios.Sum(item => item.SaldoDDJJCedular);
                            long Importe_TotalImpuestoCedularSocios = Model.AcumuladoSocios.Sum(item => item.ImpuestoCedular);
                            long Importe_TotalSaldoSocios = Model.AcumuladoSocios.Sum(item => item.ImporteTotal);



                            // Totales de los ExSocios
                            long Importe_TotalImpuestosGananciasExSocios = Model.AcumuladoExSocios.Sum(item => item.Ganancias);
                            long Importe_TotalBienesPersonalesExSocios = Model.AcumuladoExSocios.Sum(item => item.BienesPersonales);
                            long Importe_TotalSaldoDDJJBienesPersonalesExSocios = Model.AcumuladoExSocios.Sum(item => item.SaldoDDJJBienes);
                            long Importe_TotalSaldoDDJJGananciasExSocios = Model.AcumuladoExSocios.Sum(item => item.SaldoDDJJGanancias);
                            long Importe_TotalSaldoDDJJImpuestoCedularExSocios = Model.AcumuladoExSocios.Sum(item => item.SaldoDDJJCedular);
                            long Importe_TotalImpuestoCedularExSocios = Model.AcumuladoExSocios.Sum(item => item.ImpuestoCedular);
                            long Importe_TotalSaldoExSocios = Model.AcumuladoExSocios.Sum(item => item.ImporteTotal);

                            //----- Suma de los totales
                            long SumaTotalImpuestosGanancias = Importe_TotalImpuestosGananciasSocios + Importe_TotalImpuestosGananciasExSocios;
                            long SumaTotalBienesPersonales = Importe_TotalBienesPersonalesSocios + Importe_TotalBienesPersonalesExSocios;
                            long SumaTotalSaldoDDJJBienesPersonales = Importe_TotalSaldoDDJJBienesPersonalesSocios + Importe_TotalSaldoDDJJBienesPersonalesExSocios;
                            long SumaTotalSaldoDDJJGanancias = Importe_TotalSaldoDDJJGananciasSocios + Importe_TotalSaldoDDJJGananciasExSocios;
                            long SumaTotalSaldoDDJJImpuestoCedular = Importe_TotalSaldoDDJJImpuestoCedularSocios + Importe_TotalSaldoDDJJImpuestoCedularExSocios;
                            long SumaTotalImpuestoCedular = Importe_TotalImpuestoCedularSocios + Importe_TotalImpuestoCedularExSocios;
                            long SumaTotalSaldos = Importe_TotalSaldoSocios + Importe_TotalSaldoExSocios;


                            if (Model.AcumuladoSocios.Count > 0)
                            {
                                for (int i = 0; i < Model.AcumuladoSocios.Count; i++)
                                {
                                    <tr id="@Model.AcumuladoSocios[i].IdPersona" data-type="Socio" data-row="@i">
                                        <td>@Model.AcumuladoSocios[i].Socio</td>

                                        <td>
                                            <div id="ImporteBienesPersonales_@Model.AcumuladoSocios[i].IdPersona" data-val="@Model.AcumuladoSocios[i].BienesPersonales">
                                                $ @Model.AcumuladoSocios[i].BienesPersonales.ToString("N0")
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJBienes_@Model.AcumuladoSocios[i].IdPersona" data-val="@Model.AcumuladoSocios[i].SaldoDDJJBienes">

                                                $ @(Model.AcumuladoSocios[i].SaldoDDJJBienes.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteGanancias_@Model.AcumuladoSocios[i].IdPersona" data-val="@Model.AcumuladoSocios[i].Ganancias">
                                                $ @(Model.AcumuladoSocios[i].Ganancias.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJGanancias_@Model.AcumuladoSocios[i].IdPersona" data-val="@Model.AcumuladoSocios[i].SaldoDDJJGanancias">

                                                $ @(Model.AcumuladoSocios[i].SaldoDDJJGanancias.ToString("N0"))

                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteImpuestoCedular_@Model.AcumuladoSocios[i].IdPersona" data-val="@Model.AcumuladoSocios[i].ImpuestoCedular">

                                                $ @(Model.AcumuladoSocios[i].ImpuestoCedular.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJCedular_@Model.AcumuladoSocios[i].IdPersona" data-val="@Model.AcumuladoSocios[i].SaldoDDJJCedular">

                                                $ @(Model.AcumuladoSocios[i].SaldoDDJJCedular.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="Importe_@Model.AcumuladoSocios[i].IdPersona">

                                                $ @(Model.AcumuladoSocios[i].ImporteTotal.ToString("N0"))
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                            //----------------------totalSocios
                            <tr id="totalSocios" class="bg-total">
                                <td>Total Socios</td>

                                <td>
                                    <div id="Importe_TotalBienesPersonalesSocios" data-val="@Importe_TotalBienesPersonalesSocios">
                                        $ @Importe_TotalBienesPersonalesSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoDDJJBienesPersonalesSocios" data-val="@Importe_TotalSaldoDDJJBienesPersonalesSocios">
                                        $ @Importe_TotalSaldoDDJJBienesPersonalesSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalImpuestosGananciasSocios" data-val="@Importe_TotalImpuestosGananciasSocios">
                                        $ @Importe_TotalImpuestosGananciasSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoDDJJGananciasSocios" data-val="@Importe_TotalSaldoDDJJGananciasSocios">
                                        $ @Importe_TotalSaldoDDJJGananciasSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalImpuestoCedularSocios" data-val="@Importe_TotalImpuestoCedularSocios">
                                        $ @Importe_TotalImpuestoCedularSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoDDJJImpuestoCedularSocios" data-val="@Importe_TotalSaldoDDJJImpuestoCedularSocios">
                                        $ @Importe_TotalSaldoDDJJImpuestoCedularSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSocios">
                                        $ @Importe_TotalSaldoSocios.ToString("N0")
                                    </div>
                                </td>
                            </tr>
                            //--------------------------------------------------------------------------------
                            if (Model.AcumuladoExSocios.Count > 0)
                            {

                                for (int i = 0; i < Model.AcumuladoExSocios.Count; i++)
                                {
                                    <tr id="@Model.AcumuladoExSocios[i].IdPersona" data-type="ExSocio" data-row="@i">
                                        <td>@Model.AcumuladoExSocios[i].Socio</td>

                                        <td>
                                            <div id="ImporteBienesPersonales_@Model.AcumuladoExSocios[i].IdPersona" data-val="@Model.AcumuladoExSocios[i].BienesPersonales">
                                                $ @(Model.AcumuladoExSocios[i].BienesPersonales.ToString("N0"))

                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJBienes_@Model.AcumuladoExSocios[i].IdPersona" data-val="@Model.AcumuladoExSocios[i].SaldoDDJJBienes">
                                                $ @(Model.AcumuladoExSocios[i].SaldoDDJJBienes.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteGanancias_@Model.AcumuladoExSocios[i].IdPersona" data-val="@Model.AcumuladoExSocios[i].Ganancias">
                                                $ @(Model.AcumuladoExSocios[i].Ganancias.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJGanancias_@Model.AcumuladoExSocios[i].IdPersona" data-val="@Model.AcumuladoExSocios[i].SaldoDDJJGanancias">
                                                $ @(Model.AcumuladoExSocios[i].SaldoDDJJGanancias.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteImpuestoCedular_@Model.AcumuladoExSocios[i].IdPersona" data-val="@Model.AcumuladoExSocios[i].ImpuestoCedular">
                                                $ @(Model.AcumuladoExSocios[i].ImpuestoCedular.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteSaldoDDJJCedular_@Model.AcumuladoExSocios[i].IdPersona" data-val="@Model.AcumuladoExSocios[i].SaldoDDJJCedular">
                                                $ @(Model.AcumuladoExSocios[i].SaldoDDJJCedular.ToString("N0"))
                                            </div>
                                        </td>

                                        <td>
                                            <div id="ImporteTotal_@Model.AcumuladoExSocios[i].IdPersona">
                                                $ @(Model.AcumuladoExSocios[i].ImporteTotal.ToString("N0"))
                                            </div>
                                        </td>

                                    </tr>
                                }

                                //---------------------total ExSocios
                            }
                            <tr id="totalExSocios" class="bg-total">
                                <td>Total ExSocios</td>

                                <td>
                                    <div id="Importe_Importe_TotalBienesPersonalesExSocios" data-val="@Importe_TotalBienesPersonalesExSocios">
                                        $ @Importe_TotalBienesPersonalesExSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoDDJJBienesPersonalesExSocios" data-val="@Importe_TotalSaldoDDJJBienesPersonalesExSocios">
                                        $ @Importe_TotalSaldoDDJJBienesPersonalesExSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalImpuestosGananciasExSocios" data-val="@Importe_TotalImpuestosGananciasExSocios">
                                        $ @Importe_TotalImpuestosGananciasExSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoDDJJGananciasExSocios" data-val="@Importe_TotalSaldoDDJJGananciasExSocios">
                                        $ @Importe_TotalSaldoDDJJGananciasExSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalImpuestoCedularExSocios" data-val="@Importe_TotalImpuestoCedularExSocios">
                                        $ @Importe_TotalImpuestoCedularExSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoDDJJImpuestoCedularExSocios" data-val="@Importe_TotalSaldoDDJJImpuestoCedularExSocios">
                                        $ @Importe_TotalSaldoDDJJImpuestoCedularExSocios.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="Importe_TotalSaldoExSocios">
                                        $ @Importe_TotalSaldoExSocios.ToString("N0")
                                    </div>

                                </td>
                            </tr>

                            //------------------------------total final
                            <tr class="bg-totalGeneral">
                                <td>TOTAL</td>

                                <td>
                                    <div id="SumaTotalBienesPersonales">
                                        $ @SumaTotalBienesPersonales.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="SumaTotalSaldoDDJJBienesPersonales">
                                        $ @SumaTotalSaldoDDJJBienesPersonales.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="SumaTotalImpuestosGanancias">
                                        $ @SumaTotalImpuestosGanancias.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="SumaTotalSaldoDDJJGanancias">
                                        $ @SumaTotalSaldoDDJJGanancias.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="SumaTotalImpuestoCedular">
                                        $ @SumaTotalImpuestoCedular.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="SumaTotalSaldoDDJJImpuestoCedular">
                                        $ @SumaTotalSaldoDDJJImpuestoCedular.ToString("N0")
                                    </div>
                                </td>

                                <td>
                                    <div id="total">
                                        $ @SumaTotalSaldos.ToString("N0")
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>



</div>




<partial name="_ValidationScriptsPartial" />
<environment include="Development">
    <script src="~/js/ConsultaImpuestosReales.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/ConsultaImpuestosReales.min.js" asp-append-version="true"></script>
</environment>


<script type="text/javascript">

    $(document).ready(function () {

        CargarComboMes()

    })

</script>
