
@model List<DistribucionUtilidades.Models.DTO.InfoGeneralDescargaReciboDTO>

@{
    string identif = "_DescargaDeRecibos";
}


<div id="Alerts_DescargaDeRecibos"></div>

<div class="row mb-3">
    <div class="col-md-12">
        <div>
            <h3>Descarga de Recibos</h3>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-12">
        <p class="leyenda">
            En esta sección, encontrará todos los recibos de sus distribuciones. Por favor, seleccione el ejercicio deseado, luego el mes y oprima el botón “descargar”.
            <br />
            Podrá descargar los recibos cuantas veces sea necesario.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{ if (Model.Count > 0)
            {

                int anioAnterior = 0;


                foreach (var item in Model)
                {
                    if (anioAnterior != item.EjercicioDesde)
                    {
                        if (anioAnterior != 0)
                        {
                            @Html.Raw("</div>")
                        }

                        <div class="row">
                            <div class="col-md-12 pl-5 mt-3">
                                <a data-toggle="collapse" href="#collapse-@item.EjercicioDesde" role="button" aria-expanded="false">Ejercicio @item.EjercicioDesde - @(item.EjercicioDesde + 1) <span>&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>

                            </div>

                        </div>

                        @Html.Raw("<div class='row mt-3 collapse' id='collapse-" + item.EjercicioDesde + "'>")
                        <div class="col-md-12">
                            <div class="mt-2 pl-5" style="display:inline-flex">
                                <p> @item.Mes @item.Anio - @item.FechaPago.ToShortDateString() - @(item.PagoEnPesos ? "Pesos" : "Dólares") </p>
                                @*<div class="ml-3">
                                    <button class="btn btn-danger btn-sm" data-id="@item.IdPersona" data-iteracion="@item.IdIteracion" data-pagoEnPesos="@item.PagoEnPesos" onclick="DescargaRecibo(this)"> Descargar</button>
                                </div>*@
                                <div class="ml-3">
                                    <a class="btn btn-secondary btn-sm" href="/Independiente/GenerarRecibo/?id=@(item.IdPersona)&iteracion=@item.IdIteracion&modo=@item.PagoEnPesos">
                                        Descargar recibo
                                    </a>
                                    
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="mt-2 pl-5" style="display:inline-flex">
                                <p> @item.Mes @item.Anio - @item.FechaPago.ToShortDateString() - @(item.PagoEnPesos ? "Pesos" : "Dólares") </p>
                                <div class="ml-3">
                                    <a class="btn btn-secondary btn-sm" href="/Independiente/GenerarRecibo/?id=@(item.IdPersona)&iteracion=@item.IdIteracion&modo=@item.PagoEnPesos">
                                        Descargar recibo
                                    </a>
                                    
                                </div>
                            </div>
                        </div>

                    }

                    anioAnterior = item.EjercicioDesde;
                }
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <span><b>El usuario no tiene recibos para descargar.</b></span>
                    </div>
                </div>
            }

        }
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<environment include="Development">
    <script src="~/js/DescargaDeRecibos.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/DescargaDeRecibos.min.js" asp-append-version="true"></script>
</environment>