@model List<DistribucionUtilidades.Models.DTO.PagoAdeudadoDTO>

<input type="hidden" id="tipoPago" value="true" />

@{ if (Model.Count > 0)
    {

        <div class="row mb-4">
            <div class="col-md-12">
                <p class="leyenda">
                    En esta sección, puede realizar los pagos pendientes o adeudados (aquellos casos excepcionales en los que el socio haya solicitado que no se le pague la distribución). Para efectuar el pago, seleccione la opción deseada y genere el documento de pago automático. Luego de realizar el pago, regístrelo.
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label>Ingrese fecha de pago</label>
                <div class="input-group date">
                    <input id="datepicker" type="datetime" class="form-control form-control-sm date" name="fechaPago" autocomplete=off readonly="readonly" />
                    <div class="input-group-addon input-group-append input-date-calendar-search">
                        <span class="input-group-text fa fa-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-7"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <table id="PagosAdeudadosTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th width="15%" scope="col">Mes</th>
                            <th width="15%" scope="col">Iteración</th>
                            <th width="60%" scope="col">Socio/Exsocio</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count > 0)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {

                                    <tr data-type="Socio" data-row="@i">
                                        <td>@Model[i].Mes</td>
                                        <td>@Model[i].NroIteracion</td>
                                        <td>@Model[i].Socio</td>
                                        <td>
                                            <div class="input-group-sm">
                                                <input type="checkbox" id="@(Model[i].IdPersona)_I@(Model[i].IdIteracion)" data-id="@Model[i].IdPersona" data-idimportepagosocio="@Model[i].IdImportePagoSocios" data-tipobanco="@Model[i].TipoBanco" data-iteracion="@Model[i].IdIteracion" value="true" checked>

                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">


                <div>
                    <h4>Documentos en Pesos</h4>
                </div>
                <div class="form-group" style="display:inline-block; margin-top:10px;">
                    <label>Galicia - Galicia</label>
                    <div>
                        <button type="button" class="btn btn-warning btn-sm" style="" onclick="generarTxtPagosAdeudados('1')">Generar</button>
                    </div>
                </div>
                <div>
                    <div class="form-group" style="display:inline-block;">
                        <label>Galicia - Otro</label>
                        <div>
                            <button type="button" class="btn btn-warning btn-sm" style="" onclick="generarTxtPagosAdeudados('2')">Generar </button>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-light btn-sm" style="margin-top:29px;" data-toggle="confirmation" data-placement="left" data-singleton="true" data-on-confirm="" data-title="¿Está seguro?">Registrar pago</button>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>

        <environment include="Development">
            <script src="~/lib/bootstrap/dist/js/datepicker.js" asp-append-version="true"></script>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datepicker.css" />
        </environment>
        <environment exclude="Development">
            <script src="~/lib/bootstrap/dist/js/datepicker.js" asp-append-version="true"></script>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/datepicker.min.css" />
        </environment>

        <script type="text/javascript">

            $(document).ready(function () {

                ChangeValueCheckBox()
                InitializeConfirmationPop(registrarPagoAdeudados)
                InicializarDatePickers();
            })

        </script>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <center><h4>No se encontraron pagos adeudados en pesos.</h4></center>
            </div>
        </div>
    }
}

