
@model List<DistribucionUtilidades.Models.DTO.PagoAdeudadoDTO>

<input type="hidden" id="tipoPago" value="true" />

@{ if (Model.Count > 0)
    {

        <div class="row mb-4">
            <div class="col-md-12">
                <p class="leyenda">
                    En esta sección, puede registrar los pagos pendientes o adeudados (aquellos casos excepcionales en los que el socio haya solicitado que no se le pague la distribución). Una vez realizado el pago en el banco, seleccione la opción deseada y regístrela.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <table id="PagosAdeudadosTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th width="15%" scope="col">Mes</th>
                            <th width="15%" scope="col">Iteración</th>
                            <th width="60%" scope="col">Socio/Exsocio</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count > 0)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {

                                    <tr data-type="Socio" data-row="@i">
                                        <td>@Model[i].Mes</td>
                                        <td>@Model[i].NroIteracion</td>
                                        <td>@Model[i].Socio</td>
                                        <td>
                                            <div class="input-group-sm">
                                                <input type="checkbox" id="@(Model[i].IdPersona)_I@(Model[i].IdIteracion)" data-id="@Model[i].IdPersona" data-tipobanco="@Model[i].TipoBanco" data-iteracion="@Model[i].IdIteracion" value="true" checked>

                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td>No hay socios.</td>
                                    <td></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">

                <div>
                    <button type="button" class="btn btn-light btn-sm" style="margin-top:29px;" data-toggle="confirmation" data-placement="left" data-singleton="true" data-on-confirm="" data-title="¿Está seguro?">Registrar pago</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>


        <script type="text/javascript">

            $(document).ready(function () {

                ChangeValueCheckBox()
                InitializeConfirmationPop(registrarPagoAdeudados)
            })

        </script>

    }
    else
    {
        <div class="row">
            <div class="col-12">
                <center><h4>No se encontraron pagos adeudados en dólares.</h4></center>
            </div>
        </div>
    }
}