@using System.Text.RegularExpressions
@using System.Text
@model DistribucionUtilidades.Models.DTO.InfoReciboSocioDTO

@{
    Layout = null;

    StringBuilder sb = new StringBuilder(Model.CuitSocio);

    sb.Insert(2, "-");
    sb.Insert(sb.Length - 1, "-");

    // Reemplazar los grupos de números con guiones
    string cuitFormateado = sb.ToString();
}

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>
<body>
    <style>

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        .show-border td {
            border-top: thin solid;
            border-bottom: thin solid;
        }

        .show-border td:first-child {
            border-left: thin solid;
        }

        .show-border td:last-child {
            border-right: thin solid;
        }
     
    </style>

    <div class="container">

        <table style="width: 100%;border-collapse: collapse;" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="12">
                    <img src="@string.Concat(Model.Path, "/wwwroot/images/logo.jpg")" style="width: 350px;" alt="Marval, O’Farrell Mairal">
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    Av. Leandro N Alem 882 Piso 13 Capital Federal 1001
                </td>
            </tr>
            <tr>
                <td colspan="12" style="padding-bottom: 50px">
                    @Model.CuitMarval
                </td>
            </tr>
            <tr>
                <td colspan="12" style="padding-bottom: 20px">
                    Nombre: <b>@Model.Socio</b>
                </td>
            </tr>
            <tr>
                <td colspan="12" style="padding-bottom: 20px">
                    CUIT: @cuitFormateado
                </td>
            </tr>
            <tr class="show-border" style="margin-bottom: 50px">
                <td colspan="8" style="padding: 10px; text-align: left">Concepto</td>
                <td colspan="2" style="padding: 10px; text-align: right">Pagos</td>
                <td colspan="2" style="padding: 10px; text-align: right">Descuentos</td>
            </tr>
            <tr><td colspan="12">&nbsp;</td></tr>
            <tr>
                @*<td colspan="8" style="padding: 10px; text-align: left">Distribución parcial ej. @Model.EjercicioDesde/@(Model.EjercicioDesde + 1)</td>*@
                @if (@Model.SocioEgreso)
                {
                    <td colspan="8" style="padding: 10px; text-align: left">Retiro a cuenta ej. @Model.EjercicioDesde/@(Model.EjercicioDesde + 1)</td>
                }
                else
                {
                    <td colspan="8" style="padding: 10px; text-align: left">Retiro a cuenta ej. @Model.EjercicioDesde/@(Model.EjercicioDesde + 1)</td>
                }
                <td colspan="2" style="padding: 10px; text-align: right">@(Model.PagoEnPesos ? "$" : "U$S") @Model.ImporteBruto.ToString("N0")</td>
                <td colspan="2" style="padding: 10px; text-align: right"></td>
            </tr>
            @if (@Model.GastosViajes != 0)
            {
                <tr>
                    <td colspan="8" style="padding: 10px; text-align: left">Gastos de Viajes</td>
                    <td colspan="2"></td>
                    <td colspan="2" style="padding: 10px; text-align: right">@(Model.PagoEnPesos ? "$" : "U$S") @Model.GastosViajes.ToString("N0")</td>
                </tr>
            }
            @if (@Model.Retenciones != 0)
            {
                <tr>
                    <td colspan="8" style="padding: 10px; text-align: left">Impuesto a las Ganancias</td>
                    <td colspan="2" style="padding: 10px; text-align: right"></td>
                    <td colspan="2" style="padding: 10px; text-align: right">@(Model.PagoEnPesos ? "$" : "U$S") @Model.Retenciones.ToString("N0")</td>
                </tr>
            }
            <tr><td colspan="12">&nbsp;</td></tr>
            <tr class="show-border" style="margin-bottom: 50px">
                <td colspan="8" style="padding: 10px; text-align: left">Totales</td>
                <td colspan="2" style="padding: 10px; text-align: right">@(Model.PagoEnPesos ? "$" : "U$S") @Model.ImporteBruto.ToString("N0")</td>
                <td colspan="2" style="padding: 10px; text-align: right">@(Model.PagoEnPesos ? "$" : "U$S") @Model.Descuentos.ToString("N0")</td>
            </tr>
            <tr><td colspan="12">&nbsp;</td></tr>
            <tr class="show-border">
                <td colspan="8" style="padding: 10px">Neto</td>
                <td colspan="2"></td>
                <td colspan="2" style="padding: 10px; text-align: right">@(Model.PagoEnPesos ? "$" : "U$S") @Model.ImporteNeto.ToString("N0")</td>
            </tr>
            <tr>
                <td colspan="12" style="padding-top: 50px;padding-bottom: 20px">
                    Son @(Model.PagoEnPesos ? " pesos" : " dólares"), @Model.ImporteString.ToLower()
                </td>
            </tr>
            <tr>
                <td colspan="12" style="padding-bottom: 50px">
                    Fecha de Pago: @Model.FechaPago.ToShortDateString()
                </td>
            </tr>
            <tr>
                <td colspan="12" style="padding-bottom: 50px">
                    @{
                        var cuenta = string.Empty;

                        if (Model.Banco == 1)
                        {
                            if (Model.TipoCuenta == 1)
                            {
                                cuenta = "CA Galicia " + Model.Cuenta;
                            }
                            else
                            {
                                cuenta = "CC Galicia " + Model.Cuenta;
                            }
                        }
                        else
                        {
                            cuenta = "CBU " + Model.Cuenta;
                        }
                    }

                     @(Model.PagoEnPesos ? "El neto indicado fue depositado en la cuenta: "+cuenta : "")
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <img src="@string.Concat(Model.Path, "/wwwroot/images/firma.jpg")" style="width: 200px;">
                </td>
                <td colspan="5" style="position:relative;">
                    <div style="position:absolute;bottom:0;left:0;display:flex;flex-direction:column;width:250px;">
                        <div style="border-bottom:1px solid black"></div>
                        <div style="width:100%;text-align:center;">Firma</div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>