@model BackendPortal.Models.VM.NewsletterVM

@{
    ViewBag.Title = "";

    string identif = "ModalNewsletters";
    string comboAreas = "Areas";
    string urlImage = System.Configuration.ConfigurationManager.AppSettings["DIR_NEWSLETTERS_URL"] + Model.Newsletter.Image;
}

<form id="frm@(identif)" enctype="multipart/form-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">@Model.TituloVM</h3>
            </div>
            <div class="modal-body">

                @* Hiddens *@
                @Html.HiddenFor(m => m.Newsletter.AreaID, new { id = "h" + comboAreas + identif, @class = "IncludeHidden" })
                @Html.HiddenFor(m => m.Newsletter.Id, new { id = "hId" + identif })
                @Html.HiddenFor(m => m.Modo, new { id = "hModo" + identif })

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                @* Aqui la Imagen Con Un Preview *@
                                <div class="contenedorFoto">
                                    <label>Imágen</label>
                                    <center>
                                        <div>
                                            @if (!String.IsNullOrEmpty(Model.Newsletter.Image) && BackendPortal.Controllers.BaseController.ExisteUrl(urlImage))
                                            {
                                                <img id="imgPicture" src="@urlImage" title="@Model.Newsletter.Titulo" class="imgFoto" />
                                            }
                                            else
                                            {
                                                <img id="imgPicture" src="~/Images/imgNoDisp.png" title="Imagen no disponible" class="imgFoto" />
                                            }
                                        </div>
                                    </center>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                @* Aqui Input Que Contendra el nombre Del Archivo *@
                                                @Html.EditorFor(p => p.Newsletter.Image, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenamePicture", name = "", @readonly = "readonly" } })
                                                <span class="input-group-btn">
                                                    <span class="btn btn-default btn-file btn-sm">
                                                        Buscar...
                                                        @* Aqui Archivo a Upload *@
                                                        @Html.TextBoxFor(p => p.Newsletter.ImageUpload, new { type = "file", id = "inputFilePicture", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFilePicture');readURL(this, 'imgPicture');" })
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-sm btn-default" onclick="BorrarImagenNewsletter();">Limpiar</button>
                                        </div>
                                    </div>
                                    <div id="MjeErrorImagen" class="hidden" style="margin-top:10px;">
                                        <span class="field-validation-error">Formato de archivo incorrecto.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Fecha *</label>
                                        <div class="input-group date">
                                            @Html.EditorFor(m => m.Newsletter.Fecha, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                            <div class="input-group-addon input-sm dtp-sm">
                                                <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Newsletter.Fecha)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <label>Área *</label>
                                        <div id="pnl@( comboAreas + identif )">
                                            @* CARGA DE COMBO AREAS AQUI. SELECCION SIMPLE TRAE LOS QUE YA ESTAN SELECCIONADOS *@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Newsletter.AreaID)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label>Titulo (Es) *</label>
                                @Html.EditorFor(r => r.Newsletter.Titulo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(r => r.Newsletter.Titulo)
                            </div>
                            <div class="col-md-6">
                                <label>Titulo (En)</label>
                                @Html.EditorFor(r => r.Newsletter.Titulo_En, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(r => r.Newsletter.Titulo_En)
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label>SubTitulo (Es)</label>
                                @Html.EditorFor(r => r.Newsletter.Subtitulo_Es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(r => r.Newsletter.Subtitulo_Es)
                            </div>
                            <div class="col-md-6">
                                <label>SubTitulo (En)</label>
                                @Html.EditorFor(r => r.Newsletter.Subtitulo_En, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(r => r.Newsletter.Subtitulo_En)
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12">
                                <label>Link (Es) *</label>
                                @Html.EditorFor(m => m.Newsletter.Link_Es, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(m => m.Newsletter.Link_Es)
                            </div>
                        </div>                        
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12">
                                <label>Link (En) *</label>
                                @Html.EditorFor(m => m.Newsletter.Link_En, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(m => m.Newsletter.Link_En)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

<div id="Alerts@(identif)">

</div>

@Scripts.Render("~/bundles/ModalNewsletter")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Selectize")
@Scripts.Render("~/bundles/combos")
@Scripts.Render("~/bundles/datepicker")

@Styles.Render("~/Content/datepicker")
@Styles.Render("~/Content/Selectize")

<script type="text/javascript">
    $(document).ready(function () {
        ;
        CargarComboAreasModalNewsletter();
        InicializarDatePickers();

        if ($("#hModo@(identif)").val() == "ALTA") {
            $("#frm@(identif)").off('submit').on('submit', function () { GuardarDatosNewsletter(AltaNewsletterModal); return false; });

            $("#h@(comboAreas + identif)").val(null);
        } else {
            $("#frm@(identif)").off('submit').on('submit', function () { GuardarDatosNewsletter(ModificarNewsletter); return false; });
        }
    });
</script>

