@model BackendPortal.Models.VM.TabVariosDoingBusinessVM
<div class="panel-body">
    <form id="DoingBusinessForm" onsubmit="GuardarTabDoingBusiness(); return false;">
        @Html.HiddenFor(model => model.doingBusinessDTO.id)
        <div class="row">
            <div class="col-md-6">
                <label>Doing Business Archivo (es)</label>
                <div class="input-group">
                    @Html.EditorFor(model => model.doingBusinessDTO.doing_business_pdf_es, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenameDoingBusinessES", name = "", @readonly = "readonly" } })
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file btn-sm">
                            Buscar…
                            @Html.TextBoxFor(model => model.doingBusinessDTO.doing_business_Upload_es, new { type = "file", id = "inputFileDoingBusinessES", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFileDoingBusinessES')" })
                        </span>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-default" onclick="LimpiardoingBusinessES();">Limpiar</button>
                    </span>
                </div>
                <div id="divFormatodoing_businessESIncorrecto" class="hidden" style="margin-top:10px;">
                    <span class="field-validation-error">Formato de archivo incorrecto.</span>
                </div>
                @Html.ValidationMessageFor(model => model.doingBusinessDTO.doing_business_pdf_es)
            </div>
        </div>

        @{
            var urlES = (System.Configuration.ConfigurationManager.AppSettings["DIR_REPOSITORIO_URL"] + @"\Varios\" + @Model.doingBusinessDTO.doing_business_pdf_es);
            if (BackendPortal.Controllers.BaseController.ExisteUrl(urlES))
            {
                if (Model.doingBusinessDTO.doing_business_pdf_es != null)
                {
                    <div class="row" id="divLinkDoingBusinessEs" style="margin-top:20px;">
                        <div class="col-md-12">
                            <a href="@urlES" target="_new">
                                Doing Business es
                            </a>
                        </div>
                    </div>
                }
            }
        }
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <label for="doing_business_txt_es">Doing Business (es)</label>
                @Html.TextAreaFor(model => model.doingBusinessDTO.doing_business_txt_es, new { cols = 60, rows = 10, @class = "form-control", @Style = "resize: none;" })
                @Html.ValidationMessageFor(model => model.doingBusinessDTO.doing_business_txt_es)
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-6">
                <label>Doing Business Archivo (en)</label>
                <div class="input-group">
                    @Html.EditorFor(model => model.doingBusinessDTO.doing_business_pdf_en, new { htmlAttributes = new { @class = "form-control input-sm ta-coment", id = "filenameDoingBusinessEN", name = "", @readonly = "readonly" } })
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file btn-sm">
                            Buscar…
                            @Html.TextBoxFor(model => model.doingBusinessDTO.doing_business_Upload_en, new { type = "file", id = "inputFileDoingBusinessEN", name = "", @class = "nodisplay", onchange = "SetNameFile('inputFileDoingBusinessEN')" })
                        </span>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-default" onclick="LimpiardoingBusinessEN();">Limpiar</button>
                    </span>
                </div>
                <div id="divFormatodoing_businessENIncorrecto" class="hidden" style="margin-top:10px;">
                    <span class="field-validation-error">Formato de archivo incorrecto.</span>
                </div>
                @Html.ValidationMessageFor(model => model.doingBusinessDTO.doing_business_pdf_en)
            </div>
        </div>

        @{
            var urlEN = (System.Configuration.ConfigurationManager.AppSettings["DIR_REPOSITORIO_URL"] + @"\Varios\" + @Model.doingBusinessDTO.doing_business_pdf_en);
            if (BackendPortal.Controllers.BaseController.ExisteUrl(urlEN))
            {
                if (Model.doingBusinessDTO.doing_business_pdf_en != null)
                {
                    <div class="row" id="divLinkDoingBusinessEn" style="margin-top:20px;">
                        <div class="col-md-12">
                            <a href="@urlEN" target="_new">
                                Doing Business en
                            </a>
                        </div>
                    </div>
                }
            }
        }

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <label for="doing_business_txt_en">Doing Business (en)</label>
                @Html.TextAreaFor(model => model.doingBusinessDTO.doing_business_txt_en, new { cols = 60, rows = 10, @class = "form-control", @Style = "resize: none;" })
                @Html.ValidationMessageFor(model => model.doingBusinessDTO.doing_business_txt_en)
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div style="text-align:right;float:right;">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>



@Scripts.Render("~/bundles/jqueryval")