@model BackendPortal.Models.VM.TabVariosPanelesVM
<div class="panel-body">
    <form id="PanelesForm" onsubmit="GuardarTabPaneles(); return false;">

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_institucional_es">Paneles Institucional (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_institucional_es, new { htmlAttributes = new { id = "panel_institucional_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_institucional_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_institucional_en">Paneles Institucional (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_institucional_en, new { htmlAttributes = new { id = "panel_institucional_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_institucional_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_profesionales_es">Paneles Profesionales (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_profesionales_es, new { htmlAttributes = new { id = "panel_profesionales_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_profesionales_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_profesionales_en">Paneles Profesionales (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_profesionales_en, new { htmlAttributes = new { id = "panel_profesionales_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_profesionales_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_profesionales_es">Paneles Áreas (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_areas_es, new { htmlAttributes = new { id = "panel_profesionales_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_profesionales_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_profesionales_en">Paneles Áreas (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_areas_en, new { htmlAttributes = new { id = "panel_profesionales_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_profesionales_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_publicaciones_es">Paneles Publicaciones (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_publicaciones_es, new { htmlAttributes = new { id = "panel_publicaciones_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_publicaciones_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_publicaciones_en">Paneles Publicaciones (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_publicaciones_en, new { htmlAttributes = new { id = "panel_publicaciones_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_publicaciones_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_novedades_es">Novedades (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_novedades_es, new { htmlAttributes = new { id = "panel_novedades_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_novedades_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_novedades_en">Novedades (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_novedades_en, new { htmlAttributes = new { id = "panel_novedades_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_novedades_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_oportunidades_es">Oportunidades (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_oportunidades_es, new { htmlAttributes = new { id = "panel_oportunidades_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_oportunidades_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_oportunidades_en">Oportunidades (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_oportunidades_en, new { htmlAttributes = new { id = "panel_oportunidades_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_oportunidades_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_contacto_es">Paneles Contacto (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_contacto_es, new { htmlAttributes = new { id = "panel_contacto_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_contacto_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_contacto_en">Paneles Contacto (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_contacto_en, new { htmlAttributes = new { id = "panel_contacto_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_contacto_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_buscador_es">Buscador (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_buscador_es, new { htmlAttributes = new { id = "panel_buscador_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_buscador_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_buscador_en">Buscador (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_buscador_en, new { htmlAttributes = new { id = "panel_buscador_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_buscador_en)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_gallery_es">Galería (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_gallery_es, new { htmlAttributes = new { id = "panel_gallery_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_gallery_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_gallery_en">Galería (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_gallery_en, new { htmlAttributes = new { id = "panel_gallery_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_gallery_en)
                </div>
            </div>
        </div>
         
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="panel_mapsite_es">Mapa de sitio  (es)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_mapsite_es, new { htmlAttributes = new { id = "panel_mapsite_es", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_mapsite_es)
                </div>
                <div class="col-md-6">
                    <label for="panel_mapsite_en">Mapa de sitio  (en)</label>
                    @Html.EditorFor(model => model.panelesDTO.panel_mapsite_en, new { htmlAttributes = new { id = "panel_mapsite_en", @class = "form-control input-sm ta-coment" } })
                    @Html.ValidationMessageFor(model => model.panelesDTO.panel_mapsite_en)
                </div>
            </div>
        </div>

        <div style="text-align:right;float:right;">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")