@model BackendPortal.Models.VM.TabVariosTextosMetaVM


<div class="panel-body">
    <form id="TextosMetaForm" onsubmit="GuardarTextosMeta(); return false;">

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label> Meta Title (ES) Home</label>
                        @Html.EditorFor(model => model.textosMetaDTO.meta_title_es_home, new { htmlAttributes = new { id = "meta_title_es_home", @class = "form-control input-sm ta-coment" } })
                        @Html.ValidationMessageFor(model => model.textosMetaDTO.meta_title_es_home)
                    </div>

                </div>

                <div class="col-md-6">
                    <div>
                        <label >Meta Title (EN) Home</label>
                        @Html.EditorFor(model => model.textosMetaDTO.meta_title_en_home, new { htmlAttributes = new { id = "meta_title_en_home", @class = "form-control input-sm ta-coment" } })
                        @Html.ValidationMessageFor(model => model.textosMetaDTO.meta_title_en_home)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label >Meta Description (ES) Home</label>
                        @Html.EditorFor(model => model.textosMetaDTO.meta_description_es_home, new { htmlAttributes = new { id = "meta_description_es_home", @class = "form-control input-sm ta-coment" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label >Meta Description (EN) Home</label>
                       @Html.EditorFor(model => model.textosMetaDTO.meta_description_en_home, new { htmlAttributes = new { id = "meta_description_en_home", @class = "form-control input-sm ta-coment" } })

                    </div>
                </div>
            </div>

        </div>




        <div style="text-align:right;float:right;">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")