@model BackendPortal.Models.VM.MarvalNewsVM

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="MarvalNewsForm" onsubmit="GuardarMarvalNews(); return false;">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloModal">@Model.titulo</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.modo)
                @Html.HiddenFor(model => model.marvalNews.id)

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha</label>
                            <div class="input-group date">
                                @Html.EditorFor(model => model.marvalNews.date, new { htmlAttributes = new { @class = "form-control input-sm", id = "DatePickerFecha", @readonly = "readonly" } })
                                <div class="input-group-addon input-sm dtp-sm">
                                    <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Nro">Número *</label>
                            @Html.EditorFor(model => model.marvalNews.nro, new { htmlAttributes = new { id = "Nro", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.marvalNews.nro)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Email">Título (es) *</label>
                            @Html.EditorFor(model => model.marvalNews.title_es, new { htmlAttributes = new { id = "TituloES", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.marvalNews.title_es)
                        </div>
                        <div class="col-md-6">
                            <label for="Usuario">Título (en)</label>
                            @Html.EditorFor(model => model.marvalNews.title_en, new { htmlAttributes = new { id = "TituloEN", @class = "form-control input-sm ta-coment" } })
                            @Html.ValidationMessageFor(model => model.marvalNews.title_en)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="LinkES">Link (es) *</label>
                            @Html.TextBoxFor(model => model.marvalNews.link_es, new { id = "LinkES", name = "Clave", @class = "form-control input-sm ta-coment" })
                            @Html.ValidationMessageFor(model => model.marvalNews.link_es)
                        </div>
                        <div class="col-md-6">
                            <label for="LinkEN">Link (en) *</label>
                            @Html.TextBoxFor(model => model.marvalNews.link_en, new { id = "LinkEN", name = "Clave", @class = "form-control input-sm ta-coment" })
                            @Html.ValidationMessageFor(model => model.marvalNews.link_en)
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">@Model.boton</button>
            </div>
        </form>
    </div>
</div>

<div id="AlertsModal">
</div>

@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/datepicker")
@Styles.Render("~/Content/datepicker")

<script>
    $(document).ready(function () {
        InicializarDatePickers();
    });
</script>