@model BackendPortal.Models.VM.CVEntrevistaVM

<div class="modal-body">
    <div class="form-group">
        <div>
            <button type="button" class="btn btn-default btn-sm desplegable" onclick="SlideDesplegable('panelFormEntrevista');">
                Entrevista&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
        <div id="panelFormEntrevista" style="margin-top:20px; display:none;" class="panel panel-default">
            <div class="panel-body">
                <form id="EntrevistaForm" onsubmit="GuardarEntrevista(); return false;">
                    @Html.HiddenFor(model => model.entrevista.id)
                    @Html.HiddenFor(model => model.entrevista.cv_id)
                    @Html.HiddenFor(model => model.modo)
                    <div class="row">
                        <div class="col-md-12">
                            <label>Comentarios</label>
                            @Html.TextAreaFor(model => model.entrevista.comments, new { @class = "ckeditor form-control wmax input-sm", @Style = "height: 100px" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-4">
                            <label>Fecha *</label>
                            <div class="input-group date">
                                @Html.EditorFor(model => model.entrevista.date, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })
                                <div class="input-group-addon input-sm dtp-sm">
                                    <span id="datepicker" class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.entrevista.date)
                        </div>
                        <div class="col-md-8 der" style="margin-top:20px;">
                            <button type="button" class="btn btn-default hidden" id="btnCancelarEdicion" onclick="LimpiarFormEntrevista()">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <table id="TablaEntrevista" class="display compact">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $("#TituloModal").text("Entrevista");
        InicializarDatePickers();
        IniciarTablaEntrevista();
    });
</script>


