
@model DistribucionUtilidades.Models.VM.CargaGeneracionDocsPagosVM


<div id="Alerts_CargaGeneracionDocsPagos"></div>

<div class="row mb-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            @{
                if (ViewBag.TipoProceso == 1)
                {
                    <h3>Generación de documentos para pagos  (Proceso Real)</h3>
                }
                else
                {
                    <h3 style="color:#ff6a00">Generación de documentos para pagos (Proceso Provisorio)</h3>
                }
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @{
            if (Model.EsPagoEnPesos)
            {
                <p class="leyenda">
                    Seleccione todos los socios y exsocios a los que se les realizará el pago de la distribución en este momento. Recuerde destildar a aquellos que, por alguna excepción y solicitud específica, no recibirán el pago en este momento.
                </p>
                <p class="leyenda">
                    Luego de realizar la selección, genere y descargue los archivos necesarios para hacer el pago.
                </p>
                <p class="leyenda">
                    Finalmente, registre los pagos realizados. Recuerde que, una vez seleccionado el botón “Registrar Pagos” no podrá volver a generar los documentos de pago.
                </p>
                <p class="leyenda">
                    En caso de que aparezca algún mensaje de error, por favor, verifique la información bancaria de los socios.
                </p>
            }
            else
            {
                <p class="leyenda">
                    Seleccione todos los socios y exsocios a los que se les realizará el pago de la distribución en este momento. Recuerde destildar a aquellos que, por alguna excepción y solicitud específica, no recibirán el pago en este momento.
                </p>
                <p class="leyenda">
                    Luego de realizar la selección, registre los pagos realizados. Recuerde que, una vez seleccionado el botón “Registrar Pagos” no podrá volver atrás.
                </p>
                <p class="leyenda">
                    En caso de que aparezca algún mensaje de error, por favor, verifique la información bancaria de los socios.
                </p>
            }
        }
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <div>
                <strong>Mes de Distribución: </strong> @Model.MesIteracion
                <br /><strong>Importe Bruto: </strong> $ @Model.MontoDistribucion.ToString("N0")
                <br /><strong>Nro de iteración: </strong> @Model.NroIteracion
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<input type="hidden" id="idIteracion" value="@Model.IdIteracion" />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <table id="GeneracionDocsPagosTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th width="70%" scope="col">Socio/Ex-Socio</th>
                    <th width="20%" scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Socios.Count > 0)
                    {
                        for (int i = 0; i < Model.Socios.Count; i++)
                        {

                            <tr data-type="Socio" data-row="@i">
                                <td>@Model.Socios[i].Socio</td>
                                <td>
                                    <div class="input-group-sm">
                                        <input type="checkbox" id="@Model.Socios[i].IdPersona"  data-tipobanco="@Model.Socios[i].TipoBanco" value="true" checked>

                                    </div>

                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">

        @{if (Model.EsPagoEnPesos)
            {
                <div>
                    <h4>Documentos en Pesos</h4>
                </div>
                <div class="form-group" style="display:inline-block; margin-top:10px;">
                    <label>Galicia - Galicia</label>
                    <div>
                        <button type="button" class="btn btn-warning btn-sm" style="" onclick="generarTxt('1')">Generar</button>
                    </div>
                </div>
                <div>
                    <div class="form-group" style="display:inline-block;">
                        <label>Galicia - Otro</label>
                        <div>
                            <button type="button" class="btn btn-warning btn-sm" style="" onclick="generarTxt('2')">Generar </button>
                        </div>
                    </div>
                </div>
            }

        }

        <div>
            <button type="button" class="btn btn-light btn-sm" style="margin-top:29px;" data-toggle="confirmation" data-placement="left" data-singleton="true" data-on-confirm="" data-title="¿Está seguro?">Registrar Pagos</button>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
<environment include="Development">
    <script src="~/js/CargaGeneracionDocsPagos.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CargaGeneracionDocsPagos.min.js" asp-append-version="true"></script>
</environment>


<script type="text/javascript">

    $(document).ready(function () {

        ChangeValueCheckBox()
        InitializeConfirmationPop(registrarPago)
    })

</script>