@model DistribucionUtilidades.Models.VM.CargaDeGastosVM

@{ string identif = "_CargaDeGastosViajes";
}


<div id="Alerts_CargaDeGastosViajes"></div>


<div class="row mb-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            @{
                if (ViewBag.TipoProceso == 1)
                {
                    <h3>Carga de Gastos Viajes (Proceso Real)</h3>
                }
                else
                {
                    <h3 style="color:#ff6a00">Carga de Gastos Viajes  (Proceso Provisorio)</h3>
                }
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="leyenda">
            Cargue los gastos de viaje correspondientes a cada socio. Todo dato no cargado en el sistema se tomará como cero.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <div>
                <strong>Mes de Distribución: </strong> @Model.MesIteracion
                <br /><strong>Importe Bruto: </strong> $ @Model.MontoDistribucion.ToString("N0")
                <br /><strong>Nro de iteración: </strong> @Model.NroIteracion
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


@{
    if (Model.Modo == "EDICION")
    {
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <div class="form-group-sm col-md-8" style="color: #db2121; font-size: 16px;">
                <label>Nota de Revisión</label>
                @{if (Model.NotaRevision != "" && Model.NotaRevision != null)
                    {
                        <div>@Model.NotaRevision</div>
                    }
                    else
                    {
                        <div>-</div>
                    }
                }
            </div>
            <div class="col-md-2"></div>
        </div>
    }
}

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>Excel gastos viajes</label>
                <div class="custom-file">

                    <input type="file" class="custom-file-input" name="excelFile" id="excelFile" accept=".xls, .xlsx" lang="es">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>
                <div> <a href="~/Templates/CargaGastosViajes.xlsx" target="_blank">Descargar Template</a></div>
            </div>
            <div class="col-md-1">
                <div>
                    <button id="btnCargarExcel" type="button" class="btn btn-primary btn-sm" style="margin-top:30px;" onclick="ValidarDatosExcelGastosViajes()">Cargar</button>
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>


@Html.HiddenFor(m => m.Modo)

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table id="GastosViajesTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th width="70%" scope="col">Socio</th>
                    <th width="20%" scope="col">Gastos</th>

                </tr>
            </thead>
            <tbody>
                @*@{
                    if (Model.Socios.Count > 0)
                    {
                        for (int i = 0; i < Model.Socios.Count; i++)
                        {

                            <tr id="@Model.Socios[i].IdPersona" data-type="Socio" data-row="@i">
                                <td>@Model.Socios[i].Socio</td>
                                <td>
                                    <div>
                                        @Html.EditorFor(model => Model.Socios[i].Importe, new { htmlAttributes = new { @class = "form-control form-control-sm", onChange = "SumImportes(this)", @type = "number", @min = "0", @Id = "Importe_" + Model.Socios[i].IdPersona + "", @pattern = "[0-9]*", @data_politespace = "", @data_politespace_prefix = "$ ", @data_politespace_reverse = "" } })
                                        @Html.ValidationMessageFor(model => Model.Socios[i].Importe)
                                    </div>

                                </td>
                            </tr>
                        }
                    }
                }

                <tr id="totalSocios" class="table-info">
                    <td>Total</td>
                    <td>
                        <div id="TotalSocios">
                            $ @Model.TotalSocios.ToString("N0")
                        </div>
                    </td>

                </tr>*@
            </tbody>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <button type="button" class="btn btn-primary btn-sm mx-auto d-block pl-3 pr-3 mt-5" onclick="GuardarGastosViajes()">Guardar</button>
        </div>

    </div>
</div>

<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="color: #db2121">
        <center>* Recuerde cargar los impuestos reales luego de la carga de gastos</center>
    </div>
    <div class="col-md-2"></div>
</div>


<partial name="_ValidationScriptsPartial" />
<environment include="Development">
    <script src="~/js/CargaGastosViajes.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CargaGastosViajes.min.js" asp-append-version="true"></script>
</environment>


<script type="text/javascript">

    $(document).ready(function () {
       // $("input[type=number]").politespace();

        $('#excelFile').on('change',
            function (e) {
                //get the file name
                ;
                var fileName = e.target.files[0].name;

                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })

        CargaDataTablaGastosViajes('@(Model.Modo)', null);
    })

</script>