@model DistribucionUtilidades.Models.VM.CargaNroConstanciaPagoVM




<div class="row mb-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            @{
                if (ViewBag.TipoProceso == 1)
                {
                    <h3>Carga Nro de Constancia de Pago  (Proceso Real)</h3>
                }
                else
                {
                    <h3 style="color:#ff6a00">Carga Nro de Constancia de Pago  (Proceso Provisorio)</h3>
                }
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="leyenda">
            Por favor, ingrese el número de constancia de orden de pago que le provee Mecanus.<br />
            Recuerde que es fundamental generar la orden de pago en Mecanus para que los importes queden correctamente registrados en el sistema.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <div>
                <strong>Mes de Distribución: </strong> @Model.MesIteracion
                <br /><strong>Importe Bruto: </strong> $ @Model.MontoDistribucion.ToString("N0")
                <br /><strong>Nro de iteración: </strong> @Model.NroIteracion
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<form id="formConstanciaPago">
    @Html.HiddenFor(model => model.IdIteracion)
    @Html.HiddenFor(model => model.Modo)
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div>
                <label>Nro de Constancia de Orden de Pago</label>
                @Html.EditorFor(model => Model.NroConstanciaPago, new { htmlAttributes = new { @class = "form-control form-control-sm", @type = "number", @min = "0" } })
            </div>
        </div>
        <div class="col-md-1">
            <div class="der mt-4 position-absolute" style="right:0px;bottom: 0px">
                <button type="button" class="btn btn-primary btn-sm" onclick="guardarNroConstancia();">Guardar</button>
            </div>
        </div>
        <div class="col-md-1">
            <div class="mt-4 position-absolute" style="bottom: 0px">
                <button type="button" class="btn btn-primary btn-sm" onclick="omitirNroConstancia();">Omitir</button>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div id="motivoOmisionBox">
                <label>Motivo de Omisión</label>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.MotivoOmision, new { @class = "form-control form-control-sm input-sm", @rows = "4" })
                </div>
                <div class="der">
                    <button type="button" class="btn btn-primary btn-sm" onclick="enviarMotivoOmision();">Enviar</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
           
        </div>
        <div class="col-md-3"></div>
    </div>

</form>

<partial name="_ValidationScriptsPartial" />
<environment include="Development">
    <script src="~/js/CargaNroConstanciaPago.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CargaNroConstanciaPago.min.js" asp-append-version="true"></script>
</environment>


<script type="text/javascript">
   
    $(document).ready(function () {

        $("#motivoOmisionBox").hide();

    })

</script>