@model List<DistribucionUtilidades.Models.DTO.SocioGastoViajeDTO>


    @{
        if (Model.Count > 0)
        {


            for (int i = 0; i < Model.Count; i++)
            {

                <tr id="@Model[i].IdPersona" data-type="Socio" data-row="@i">
                    <td>@Model[i].Socio</td>
                    <td>
                        <div>
                            @Html.EditorFor(model => Model[i].Importe, new { htmlAttributes = new { @class = "form-control form-control-sm", onChange = "SumImportes(this)", @type = "number", @min = "0", @Id = "Importe_" + Model[i].IdPersona + "", @pattern = "[0-9]*", @data_politespace = "", @data_politespace_prefix = "$ ", @data_politespace_reverse = "" } })
                            @Html.ValidationMessageFor(model => Model[i].Importe)
                        </div>

                    </td>
                </tr>
            }
        }
    }
    <tr id="totalSocios" class="table-info">
        <td>Total</td>
        <td>
            <div id="TotalSocios">
                $ @Model.Sum(item => item.Importe).ToString("N0")
            </div>
        </td>

    </tr>


